[2016-03-02 22:47] leandrodb commented on #4
Acá se puede ver la configuración: https://github.com/LibreCoopUruguay/mapasculturais/blob/master/src/protected/application/conf/conf-base.php#L288
Sugiero a @kterva que teste en su ambiente local y, funccionando, haga un commit para testarmos el el servidor de test

[2016-03-02 23:30] leandrodb commented on #25
?

[2016-03-02 23:32] caminantedelossuenos commented on #25
ese mensaje sale en portugues y todos los textos deben estar en español

[2016-03-02 23:35] leandrodb commented on #5
Esto pasa en la producción, correcto? En el ambiente de test, pasa?

[2016-03-02 23:37] caminantedelossuenos commented on #5
en el ambiente de test no le permite a ella autenticarse con su usuario de fb

[2016-03-02 23:37] caminantedelossuenos commented on #5
mi usuario si permite autenticacion en fb en el mismo ambiente de test

[2016-03-03 00:57] kterva commented on #8
LIBRAS = língua brasileira de sinais (Libras) é a língua de sinais (língua gestual) https://pt.wikipedia.org/wiki/L%C3%ADngua_brasileira_de_sinais

[2016-03-03 01:08] kterva commented on #10
se cambió en la línea 864 del archivo /mapasculturais/src/protected/application/themes/BaseV1/Theme.php

[2016-03-03 01:09] kterva commented on #10
no se sacó "soportado" porque sino no se aclara qué tipos de archivos son soportados para subir a la galería

[2016-03-03 01:32] kterva commented on #11
está en el archivo /mapasculturais/src/protected/application/themes/BaseV1/layouts/parts/singles/entity-status.php la línea 10: <div class="alert warning">Este <?php echo strtolower($entity->entityType)?> es un borrador.</div>

hay que traducir $entity->entityType y por ahora no sé cómo se hace

[2016-03-03 01:33] kterva commented on #11
en la línea 12 del mismo archivo pasa igual

[2016-03-03 01:38] kterva commented on #11
para cambiar la palabra "espaço" para que $entity->entityType devuelva la traducción ¿se debe modificar el archivo mapasculturais/src/protected/application/themes/BaseV1/assets/js/mapasculturais.js ?

[2016-03-03 01:51] kterva commented on #12
se arregló en mapasculturais/src/protected/application/themes/BaseV1/views/space/create.php y en los enlaces correspondientes edit.php y single.php LÍNEA 95

[2016-03-03 01:54] kterva commented on #15
se modificaron mapasculturais/src/protected/application/themes/BaseV1/views/project/create.php y enlaces edit.php y single.php LINEA 315

[2016-03-03 01:56] kterva commented on #16
esto está en mapasculturais/src/protected/application/translations/pt-br.php
¿qué hacemos con ese archivo? ¿lo traducimos o lo cambiamos por uno en español?

[2016-03-03 02:03] kterva commented on #31
mapasculturais/src/protected/application/themes/BaseV1/views/project/create.php y sus enlaces

también aparece en mapasculturais/src/protected/application/translations/pt-br.php (no se cambió)

[2016-03-03 02:09] kterva commented on #18
se tradujeron varios textos en mapasculturais/src/protected/application/themes/BaseV1/assets/js/ng.entity.module.project.js

[2016-03-03 02:18] kterva commented on #18
también se tradujo en mapasculturais/src/protected/application/themes/BaseV1/views/project/report.php

[2016-03-03 02:21] kterva commented on #19
mapasculturais/src/protected/application/themes/BaseV1/views/project/create.php y los enlaces LINEA 258

[2016-03-03 02:25] kterva commented on #20
se sacó de la línea 421 el texto ", con un CP válido ingresado" (CP sería código postal ) del archivo /mapasculturais/src/protected/application/themes/BaseV1/views/project/create.php y sus enlaces

[2016-03-03 02:28] kterva commented on #22
estos textos aparecen en mapasculturais/src/protected/application/translations/pt-br.php y hay qué ver qué hacemos con este archivo

[2016-03-03 02:34] kterva commented on #25
hay que verificar, pero creo que los cambié en un issue anterior

[2016-03-03 02:39] kterva commented on #13
NO ENTIENDO

[2016-03-03 15:11] caminantedelossuenos commented on #9
Cuando se ingresa una fecha sigue apareciendo la descripcion en portugues. Vuelvo este issue a la columna Entrada

[2016-03-03 15:23] caminantedelossuenos commented on #12
QA prueba confirma cambio

[2016-03-03 17:43] caminantedelossuenos commented on #11
No pasa prueba. sigue saliendo el mensaje "Este espaço es un borrador."

[2016-03-03 18:07] caminantedelossuenos commented on #25
QA verificado ok

[2016-03-03 18:28] caminantedelossuenos commented on #24
QA verificado ok

[2016-03-03 18:33] caminantedelossuenos commented on #22
QA verificado ok
antes decía "Baixar o regulamento"
ahora "Descargar el reglamento"

[2016-03-03 19:49] kterva commented on #36
ese texto no lo encuentro haciendo una búsqueda en el contenido de los archivos del proyecto

[2016-03-03 19:59] donsalvatore commented on #36
voy a hacer un print

[2016-03-03 23:38] kterva commented on #14
tenemos 2 tipos de nros, de 8 dígitos (teléfonos fijos) y de 9 dígitos (celulares)
la función quedó así:

$('.js-editable').on('shown', function(e, editable) {
        if ($(this).hasClass('js-mask-phone')) {
            var masks = ['000 000000', '0000 0000'];
            editable.input.$input.mask(masks[1], {onKeyPress:
               function(val, e, field, options) {
                   field.m

[2016-03-03 23:41] kterva commented on #6
ver comentario issue #14

[2016-03-03 23:47] kterva commented on #23
proyectos no tiene control de raza

[2016-03-03 23:52] kterva commented on #23
"control" ¿qué significa? no es un campo requerido
¿quieren eliminar el campo?

[2016-03-04 00:01] kterva commented on #7
está explicado en el manual :)

[2016-03-04 00:13] kterva commented on #13
Está bien que no haga nada, ES UN TÍTULO DEL BLOQUE

[2016-03-04 00:41] kterva commented on #14
el formato también se controla en los agentes en mapasculturais/src/protected/application/conf/agent-types.php ???? líneas 104 - 112 y 122

[2016-03-04 10:18] caminantedelossuenos commented on #13
lo que pide Mayte es que "Si es un titulo sacarle los dos puntos y cambairle la aparencia para que se diferencie del resto."

[2016-03-04 13:23] kterva commented on #36
Luego de subir los archivos hay que reiniciar php y nginx
problema solucionado

[2016-03-04 13:31] caminantedelossuenos commented on #4
comentario de demo para Mayte y Begoña

[2016-03-08 23:11] kterva commented on #14
mapasculturais/src/protected/application/conf/agent-types.php se comentaron las validaciones de los teléfonos

event-types.php idem

spaces-types.php idem

se agrega la siguiente función al archivo editable.js y se comenta su correspondiente de brasil

/*MÁSCARA TELÉFONOS URUGUAY*/

    $('.js-editable').on('shown', function(e, editable) {
        if ($(this).hasClass('js-mask-phone')) {

[2016-03-08 23:12] kterva commented on #6
QUEDÓ PRONTO PARA PROBAR

[2016-03-08 23:21] kterva commented on #38
se editó la imaguen en portugués.

QUEDÓ PRONTO

[2016-03-08 23:36] kterva commented on #9
QUEDÓ PRONTO

[2016-03-08 23:52] kterva commented on #13
QUEDÓ PRONTO (se sacaron los dos puntos, se puso en mayusculas y en negrita)

[2016-03-09 01:17] leandrodb commented on #41
Las configuraciones de inscripciones (registrations) en proyectos están [aquí](https://github.com/LibreCoopUruguay/mapasculturais/blob/master/src/protected/application/conf/conf-base.php#L94)

[2016-03-09 01:55] kterva commented on #41
no lo encontré ahí.
Cuando en un proyecto que están habilitadas las inscripciones y se está realizando la inscripción. Si se agregó una categoría a las incripciones, se selecciona una de las opciones y al dar enviar la inscripción, aparece la validación del campo

[2016-03-09 02:00] leandrodb commented on #41
Si. Caso el proyecto posea categorías, entonces, debe ser una información requerida. No tiene sentido? Aquí está la validación: https://github.com/LibreCoopUruguay/mapasculturais/blob/master/src/protected/application/lib/MapasCulturais/Entities/Registration.php#L378

[2016-03-09 02:01] kterva commented on #41
da el error cuando se selecciona cualquier opción

[2016-03-09 03:37] leandrodb commented on #41
Puede pegar aquí el contenido de la requisición de la aba red del web
inspector?
Para vermos qué está siendo enviado y qué está siendo retornado.
Seguro que está enviando una categoría?
Cuales son las categorías y cual está enviando?
abs

On Tue, Mar 8, 2016 at 11:01 PM, leonardo <notifications@github.com> wrote:

[2016-03-09 03:44] kterva commented on #41
a ver si es esto?

GET /inscricao/404839/ HTTP/1.1
Host: mapa-test.cultura.mec.gub.uy:98
User-Agent: Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:44.0) Gecko/20100101 Firefox/44.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate
Referer: http://mapa-test.cultura.mec.gub.uy:98/projeto/4/
Cookie: __utma=171207679.36073

[2016-03-09 14:32] donsalvatore commented on #10
;)

[2016-03-10 00:07] kterva commented on #5
el usuario de facebook no tenía correo electrónico asociado.

ESTO QUEDÓ PRONTO

[2016-03-10 00:15] kterva commented on #30
se hizo la traducción.
Quedamos en analizar la forma de hacer un archivo en español y hacer referencia a él en el sistema

[2016-03-16 21:59] mayteloyarte commented on #6
quien prueba? ya es en testing?

[2016-03-17 16:13] mayteloyarte commented on #6
sacarle el control y dejarlo abierto, sin control. q la gente solo pueda poner numeros y +, pero sin control de cantidad

[2016-03-18 14:45] mayteloyarte commented on #43
el error salta cuando pongo el numero máximo de inscripciones autorizadas por agente

[2016-03-18 14:52] mayteloyarte commented on #23
eliminar que te pida que cargues raza! y sacarlo del texto cuando estas llenando el formulario.

Agente responsable por la inscripción *
Agente individual (persona física) con los campos CI, Raza/Color, Fecha de nacimiento/fundación, Género, Email Privado y Teléfono 1 obligatoriamente completados

[2016-03-19 15:07] kterva commented on #14
está para probar

[2016-03-24 15:35] kterva commented on #41
El mensaje que aparece es porque se quiere enviar una inscripción sin antes salvar. Lo que se debe hacer es Salvar antes de enviar la inscripción.
Tenemos que agregar texto al mensaje que aparece en rojo, avisando que el campo ha cambiado y se debe salvar antes de enviar

[2016-03-24 15:57] caminantedelossuenos commented on #16
este mensaje no lo pude reproducir. voy a Proyecto,  Inscripciones. 5. Anexos. y pude subir sin problema los archivos de ejemplo.

[2016-03-24 16:00] caminantedelossuenos commented on #16
Listo, confirmado, msg sale en español: "El archivo subido no es un documento válido."

[2016-03-24 16:03] caminantedelossuenos commented on #19
confirmado texto sale en español: "Descargar el reglamento"

[2016-03-24 16:06] caminantedelossuenos commented on #11
confirmado aparece texto ok en español: "Este espacio es un borrador."

[2016-03-24 16:13] caminantedelossuenos commented on #9
descripcion legible dia y mes aparecen en español

[2016-03-24 16:16] caminantedelossuenos commented on #13
confirmado ok

[2016-03-24 16:24] caminantedelossuenos commented on #10
texto cerregido: "Tipos de archivos soportados: .jpg o .png"

[2016-03-24 16:33] caminantedelossuenos commented on #23
listo. "Institución responsable (Agente colectivo (persona jurídica) con los campos RUT, Fecha de nacimiento/fundación, Email Privado y Teléfono 1 obligatoriamente completados)"

[2016-03-24 16:37] caminantedelossuenos commented on #6
telefono permite poner hasta 11 numerosTeléfono 1: 111 11 11 11 11

[2016-03-24 16:39] caminantedelossuenos commented on #14
confirmado ok

[2016-03-24 16:40] caminantedelossuenos commented on #5
confirmado ok

[2016-03-24 16:44] caminantedelossuenos commented on #38
sigue en portugues para e caso de no verificado

[2016-03-24 16:44] caminantedelossuenos commented on #38
confirmado ok imagen en español

[2016-03-24 16:46] caminantedelossuenos commented on #15
confirmado ok : Opciones de inscripción (coloque una opción por línea)

[2016-03-24 16:47] caminantedelossuenos commented on #17
ok "es obligatorio el envío de este adjunto para inscribirse en este proyecto"

[2016-03-24 16:48] caminantedelossuenos commented on #18
textos ok: Todas
Pendiente
Inválida
No seleccionada
Suplente
Seleccionada

[2016-03-24 16:52] caminantedelossuenos commented on #20
Al momento de realizar la inscripcion sale el mensaje; "Agente responsable por la inscripción *
Agente individual (persona física) con los campos CI, Fecha de nacimiento/fundación, Género, Email Privado y Teléfono 1 obligatoriamente completados"

[2016-03-24 16:54] caminantedelossuenos commented on #21
El mensjae aparece en español y es porque el Agente responsable por la inscripción necesita tener completados los campos reuqeridoscomo obligatorios: "CI, Fecha de nacimiento/fundación, Género, Email Privado y Teléfono 1 obligatoriamente completados"

[2016-03-24 16:57] caminantedelossuenos commented on #26
aparece texto en español luego de envio de inscripcion "Inscripción enviada el día 24/03/2016 às 13:50:21 "

[2016-03-24 17:00] caminantedelossuenos commented on #27
textos verificados todos en español

[2016-03-25 14:44] kterva commented on #43
mensaje del log del servidor

167.58.64.130 - - [25/Mar/2016:11:23:33 -0300] "GET /assets/img/fundo.png HTTP/1.1" 200 68 "http://mapa-test.cultura.mec.gub.uy:98/assets/css/app-2b004bfc5e2f991beb757cb81f1d7999.css" "Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:45.0) Gecko/20100101 Firefox/45.0"
167.58.64.130 - - [25/Mar/2016:11:23:33 -0300] "GET /assets/img/unverified-seal.png HTTP/1.1" 200 2371 "http:

[2016-03-25 15:05] kterva commented on #43
Slim Application Error
The application could not run because of the following error:

Details

Type: Respect\Validation\Exceptions\ComponentException
Message: "int" is not a valid rule name
File: /srv/mapas/mapasculturais/src/protected/vendor/respect/validation/library/Validator.php
Line: 209
Trace

#0 /srv/mapas/mapasculturais/src/protected/vendor/respect/validation/library/Validator.php(221): Re

[2016-03-25 15:50] kterva commented on #28
yo lo sigo probando y no me pide logueo, funciona bien. Hay que seguir investigando si sigue pasando

[2016-03-25 16:22] kterva commented on #41
se agregó texto aclaratorio de que hay que salvar antes de enviar la inscripción. Está para probar

[2016-03-25 16:31] kterva commented on #33
fue traducido. Está pronto para probar

[2016-03-25 16:31] kterva commented on #31
listo para probar

[2016-03-28 14:55] mayteloyarte commented on #8
Poner "Traducción en lengua de señas"

[2016-03-28 15:00] mayteloyarte commented on #44
solo pasa con el mes de febrero, dice Febrei

[2016-03-28 15:07] mayteloyarte commented on #23
Para poder inscribirte te pide que llenes obligatoriamente el campo raza. Ese es el control que digo de sacar, osea que no lo exija. Por otro lado no lo puedo verificar porque no está dejando inscribir. Me sigue pidiendo que seleccione una opcion a la hiora de inscribirme y ya la seleccioné.

[2016-03-28 15:23] mayteloyarte commented on #41
Sucede que el texto de que es necesario salvar antes de enviar solo aparece cuando uno guarda, por ende la persona solo lo verá si ya guardó. No se podrá poner ese texto en otro lado? Por otro lado, sacarle los tres signos de exclamación! queda muy violento.

[2016-03-28 15:26] mayteloyarte commented on #23
luego de analizadas las respuestas del issue 41 pude enviar la inscripción y vi que no solicita mas el campo raza. verificado ok

[2016-03-31 21:57] mayteloyarte commented on #28
sigue pasando,  esto es vital y define si usaremos o no el mapa para las inscripciones.  como va este asunto? creen que se solucionará? porque deber+iamos pasar cuanto antes a produccion pero esto me preocupa que no se pueda arreglar.
Leo me dijo que el podía, supongo que es por utilizar open office, pero yo pruebo y no funciona, y los jurados usarán probablemente exel como yo.

[2016-04-01 00:42] kterva commented on #28
Efectivamente, ocurre con MS Office, con Libre Office u Open Office no ocurre. No es un error.

[2016-04-01 00:51] kterva commented on #42
listo

[2016-04-01 00:58] kterva commented on #33
había quedado Frebei, fue arreglado.

[2016-04-01 01:05] kterva commented on #26
SOLUCIONADO

[2016-04-01 01:06] kterva commented on #42
SOLUCIONADO

[2016-04-01 01:06] kterva commented on #33
SOLUCIONADO

[2016-04-01 01:06] kterva commented on #8
LISTO

[2016-04-01 14:42] mayteloyarte commented on #28
entonces? se esta buscando una forma de que funcione en todos los tipos de planillas de calculo?

[2016-04-01 21:32] leandrodb commented on #32
duplicada de #28

[2016-04-01 21:40] leandrodb commented on #28
Como pidió @caminantedelossuenos substituí la columna con el enlace por una con el número y otra con la dirección de la inscripción que puede ser copiada y abierta donde se desee.

[2016-04-02 01:14] mayteloyarte commented on #28
Lo del link lo podriamos llegar a solucionar utilizando el drive, hoy se me ocurrio generar el archivo ahi, y en ese caso si te permite ver el proyecto si sos super agente.  En esta compu no tengo ods por lo que no puedo probar nuevamente, pero lo que descubri hoy es que solo puedes ver la lista de inscriptos para acceder al formulario si sos super agente.  Niega el acceso a otros usuarios, aún cu

[2016-04-02 01:38] caminantedelossuenos commented on #28
Mayte,  @leandrodb generó una nueva version de la planilla. sustituyó la columna con el enlace por una con el número y otra con la dirección de la inscripción que puede ser copiada y abierta donde se desee.

[2016-04-02 17:35] kterva commented on #41
QUEDÓ PRONTO lo pedido por @mayteloyarte

[2016-04-04 16:46] mayteloyarte commented on #46
le faltaba el tipo de espacio, pero el control no dijo que ese era el error. Yo me di cuenta pero un simple ciudadano no creo. Por favor que el control diga cual es el error.

[2016-04-04 21:41] mayteloyarte commented on #28
verifiqué nueva version y al copiar el link no hay inconveniente.
Sigue pasando que me deniega el acceso a un usuario común... ej. jurado

[2016-04-09 21:25] kterva commented on #2
el Chispa lo hizo!!!!
está para verificar.
Falta vincular los datos a las áreas de actuación que @mayteloyarte pasó en planilla

[2016-04-12 03:02] kterva commented on #44
ya está solucionado

[2016-04-22 03:59] kterva commented on #45
LISTO
se comentaron en el código <<entidad>>-type.php las validaciones de las url

[2016-04-22 15:36] donsalvatore commented on #52
Hola a todos!!

Para empezar tanto en teste como en produccíon
al guardar el proyecto (pestaña inscripciones) me da error desconocido, hay
que recargar la pagina para pode publicar el proyecto.

*en test*
http://mapa-test.cultura.mec.gub.uy:98/

he bajado esta planilla de prueba (adjunta)
estoy en una maquina con openoffice

A estando fuera del sistema (sin autenticarse)

1 - en la celda "numero"

[2016-04-25 12:50] caminantedelossuenos commented on #52
Estimados, buenos días, en base a las pruebas que hizo Miguel entiendo
entonces que no se tiene acceso por parte de los jurados a los
formularios a ser evaluados?

Como hacemos para corregir esto? Que recomiendan?

El 22/04/16 a las 12:36, Miguel Salvatore escribió:

[2016-04-25 23:18] kterva commented on #58
HECHO

[2016-04-26 00:51] kterva commented on #56
SOLUCIONADA LA TRADUCCIÓN

[2016-04-26 00:52] kterva commented on #50
"filtrar datos" ¿dónde?

[2016-04-26 19:53] mayteloyarte commented on #50
Necesitamos que las exportaciones ya sea de agentes de espacios o eventos tengan una columna donde diga el departamento.

[2016-04-27 03:52] kterva commented on #51
fue probado en dos instalaciones separadas y por dos personas distintas y la planilla de inscriptos SÍ trae el archivo zip con el contenido de los archivos adjuntos. Se debe probar con una inscripción con adjuntos, porque sino el sistema no genera el archivo zip. Si no hay archivos adjuntos, la columna archivo estará vacía

[2016-04-27 03:57] kterva commented on #52
No es necesario estar logueado para que se pueda descargar el archivo .zip. Una persona que no está registrada en el sistema, con la url (que va en la planilla en el link ZIP) puede descargarse el archivo zip. Para ver los datos de la inscripción (sensibles), sí hay que estar logueado

[2016-04-27 03:58] kterva commented on #43
ya fue solucionado

[2016-04-27 18:01] mayteloyarte commented on #51
yo lo pruebo y no trae los zip, y sí tiene archivos adjuntos. es en testing proyecto Inscripción.

[2016-04-27 18:02] mayteloyarte commented on #52
pero no deja ver el formulario! niega el acceso, mucho menos va a dejar ver archivos.

[2016-04-27 18:18] donsalvatore commented on #51
Si!
Igual a pasado con mis pruebas y que tb llevava un archivo adjunto

Miguel de Castro Perez
+55 11 971612502

[2016-04-29 17:00] mayteloyarte commented on #51
acabo de hacer un proyecto se llama 123456 y no exporta los archivos zipeados... lo hago en testing. sera un problema se mi usuario? no lo se pero a mi  no me funciona

[2016-04-29 17:04] donsalvatore commented on #51
si! igual paso con mi prueba!
incluso sigue alli las pruebas. en producción y test

2016-04-29 14:00 GMT-03:00 mayteloyarte <notifications@github.com>:

--
Miguel de Castro Perez
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2016-05-04 03:51] kterva commented on #34
Investigar la causa de no llegar el request header API-Metadata en el navegador!

[2016-05-06 19:15] mayteloyarte commented on #62
Diseño
Artes escénicas
Danza
Memoria y Tradiciones

[2016-05-17 15:49] mayteloyarte commented on #43
sigue sin funcionar la inscripcion cuando pongo el numero de inscripciones admitidas por agente. Solo admite 0 (ilimitada)

[2016-05-17 15:51] mayteloyarte commented on #62
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-17 15:52] mayteloyarte commented on #45
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-17 15:53] mayteloyarte commented on #53
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-17 15:53] mayteloyarte commented on #54
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-17 15:54] mayteloyarte commented on #44
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-17 15:55] mayteloyarte commented on #8
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-17 15:55] mayteloyarte commented on #33
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-17 15:55] mayteloyarte commented on #26
ok. Verificado por mi.
no lo muevo de columna xq yo solo muevo las q estan en aprobadas QA no se si está aca por que falta el ok de uds.

[2016-05-19 20:39] mayteloyarte commented on #43
sigue sin funcionar

[2016-05-20 13:20] leandrodb commented on #43
@kterva me parece que el error está en respect validation. Hay que atualizar la biblioteca com composer (editando composer.json y ejecutando composer update respect/validation) y puede ser necesario cambiar la regla de validación en la entidad (Project).

[2016-05-20 13:21] leandrodb commented on #43
https://packagist.org/packages/respect/validation

[2016-05-20 18:39] mayteloyarte commented on #50
esto es fundamental! si no la exportacion carece de sentido. es el dato diría mas importante.

[2016-05-21 16:32] kterva commented on #43
"v::int()" en la línea 23 de project-types.php hay que cambiarla por "v::intVal()"

[2016-05-21 16:35] kterva commented on #51
solucionado, el s.o. del server no tenía ZIP instalado

[2016-05-21 16:37] kterva commented on #52
los campos del formulario están todos en la planilla de datos exportados. Acordamos que alcanza con darle un formato mejor a la planilla

[2016-05-21 16:52] kterva commented on #57
Efectivamente, no pueden haber espacios con el mismo nombre. Aunque se puede cambiar esta validación

[2016-05-21 16:54] kterva commented on #55
el manual fue traducido y los textos fueron enviados para que el cliente le diera el formato adecuado a su imagen

[2016-05-21 16:59] kterva commented on #59
LISTO

[2016-05-21 17:02] kterva commented on #63
fue solucionado. Ver commit  	01a5a66

[2016-05-21 22:47] kterva commented on #60
chequear configuración de php y/o nginx

[2016-05-28 16:48] kterva commented on #60
para ampliar la capacidad de memoria de subida de archivos
Agregar en /etc/nginx/nginx.conf

client_max_body_size 20M;

Y EN  /etc/nginx/sites-avialable/mapas.conf

server {
listen *:80;
server_name www.meu.dominio.gov.br;
return 301 $scheme://meu.dominio.gov.br$request_uri;
client_max_body_size 20M;   <<<<<<<<----------------
}

[2016-05-30 16:55] mayteloyarte commented on #50
ok. no me deja mover los issues para la otra columna pero esta verificado.

[2016-05-31 02:30] kterva commented on #66
solucionado, problema con servidor del mec

[2016-05-31 03:14] kterva commented on #4
se debe cambiar en conf-base.php 'routes' => array(... y 'controllers' => array(... el cambio de 'busca' no funciona (hay que ver por qué)

[2016-05-31 16:47] mayteloyarte commented on #60
por favor solucionar esto!!!

[2016-05-31 16:47] mayteloyarte commented on #60
la semana q viene son las inscripciones y el mapa no deja subir archivos livianos. poner limite tipo 5 mb.

[2016-06-03 00:09] kterva commented on #68
verificar, el sistema importa la dirección si el campo fue llenado

[2016-06-03 04:19] kterva commented on #68
PROBAR TODO

[2016-11-17 22:16] kterva commented on #39
se descarta la posibilidad por lo complejo

[2016-11-18 15:26] kterva commented on #64
es en Campos adicionais -> Adjuntos

[2016-12-14 22:45] mayteloyarte opened #1 "Check box Accesibilidad física"
el check box de accesibilidad fisica no me convence. Les pido por favor dejar solo estas opciones:
 sanitario adaptado
 elevador
 elevador adaptado
 bebedero adaptado
 estacionamiento exclusivo
 rampa de acceso
 barandilla en escaleras y rampa

[2016-12-14 22:47] mayteloyarte opened #2 "agregar ciudad y dpto en la vista rapida de los espacios y eventos"
![image](https://cloud.githubusercontent.com/assets/17646115/21204418/1a967e86-c236-11e6-97d4-c968d1281d27.png)

[2016-12-15 12:32] leogermani opened #3 "Eliminar proyectos"
Me deja eliminarlos pero no definitivamente xq tienen inscripciones.
34
21
26
32
27
35
36
30
28
31
29
33

[2016-12-15 12:33] leogermani commented on #3
@mayteloyarte Agora na nova versão existe a possibilidade de "arquivar" itens. Você remove ele das buscas mas deixa gravado como arquivo, para que não se perca. O que acha?

[2016-12-15 12:34] leogermani opened #4 "Eliminar usuarios"
Son usuarios en blanco o que los crearon x error

35
36
68
80
90
96
194
201
304
307
266
295
314

[2016-12-15 12:36] leogermani opened #5 "ventana de upload de archivos no cierra al completar la carga"

[2016-12-15 13:37] leogermani opened #6 "Carregar shapefiles de departamentos (y otros?)"
como fazer:

https://github.com/LibreCoopUruguay/mapasculturais/blob/master/documentation/docs/mc_deploy_shapefiles.md

[2016-12-15 13:37] leogermani opened #7 "Verificar tradução de metadaos "Sim, não" (acessibilidade)"

[2016-12-15 13:38] leogermani opened #8 "Implementar consulta de endereço por código postal no tema culturaenlina"
Instruções:

https://github.com/LibreCoopUruguay/mapasculturais/blob/master/documentation/docs/mc_developer_geocoding.md

[2016-12-15 17:44] mayteloyarte commented on #3
ok!

[2016-12-15 17:45] mayteloyarte opened #9 "Inscripciones pdf"
Ver la posibilidad de agregar un botón de imprimir a pdf la sabana final del proyecto. cuando se inscriben a una convocatoria. Osea cuando la persona lo arma. Porque generalmente la gente tiene que presentar el formulario en papel y el actual no da la opción de imprimir. Osea un botoncito con la función Ctrl+P ;)
Se puede?

[2016-12-21 13:05] leogermani opened #10 "terminar de inserir funções de traduçao"
- [x] parts/home-saas.php
- [x] parts/singles/subsite-filters.php
- [x] parts/panel-subsite.php
- [x] parts/related-profile-agents.php
- [x] views/panel/index.php
- [x] views/panel/subsite.php
- [x] views/subsite/single.php
- [x] e o novo tema chamado Subsite

[2016-12-21 14:31] #10 closed, assigned to nobody

[2016-12-21 17:26] leogermani commented on #7
listo

[2016-12-21 17:26] #7 closed, assigned to leogermani

[2016-12-21 17:30] leogermani commented on #1
Listo,

(no estoy totalmente de acuerdo pero...)

[2016-12-21 17:30] #1 closed, assigned to nobody

[2016-12-29 15:24] mayteloyarte opened #11 "sistema no operativo"
28 de diciembre
![image](https://cloud.githubusercontent.com/assets/17646115/21546959/b1f6fb48-cdc1-11e6-8da9-d4ddfdada134.png)

[2016-12-29 16:58] mayteloyarte opened #12 "agregar signo exclamación"
Hola, Mayte Loyarte, bienvenido al panel de Culturaenlinea.uy!
falta el signo de exclamación del comienzo.

Hola, Mayte Loyarte, ¡bienvenido al panel de Culturaenlinea.uy!

[2016-12-29 18:08] #11 closed, assigned to nobody

[2017-01-10 19:23] mayteloyarte opened #13 "Testing enero 17 - texto inicio"
tiene que ser el que está en producción

¡Bienvenidos!

Culturaenlinea.uy es una herramienta colaborativa en la cual tanto los ciudadanos como los actores culturales pueden cargar información visible para todo el que acceda al mapa. Permite conocer el escenario cultural de nuestro país, así como también cargar eventos, espacios culturales y realizar convocatorias de los diversos llamados realizado

[2017-01-10 19:24] mayteloyarte opened #14 "Testing enero 17 - Texto en portugués en "Mi cuenta""
![image](https://cloud.githubusercontent.com/assets/17646115/21821149/36de5fc0-d751-11e6-8fae-96cc09912743.png)

[2017-01-10 19:24] mayteloyarte commented on #14
Separar las palabras "MisProyectos"

[2017-01-10 19:31] mayteloyarte commented on #14
"Painel de controle" a "panel de control"

[2017-01-10 19:33] mayteloyarte opened #15 "Testing enero 17 - Ordenar alfabéticamente areas y tipos"
Ordenar alfabéticamente las areas y tipos

[2017-01-11 12:04] leogermani commented on #12
Melhorei a string de tradução. Ver https://github.com/LibreCoopUruguay/mapasculturais/commit/5ba8baee65904ce3bb9480633f37f8d72535a15d

@kterva corrige a tradução agora?

[2017-01-11 12:29] #13 closed, assigned to nobody

[2017-01-11 12:30] leogermani commented on #14
tradução do plugin, com @kterva

[2017-01-11 13:28] #15 closed, assigned to nobody

[2017-01-11 17:56] mayteloyarte commented on #13
los cambios de lo que está cerrado, se ve ahora en el testing o luego? porque sigue diciendo "Bienvenid@!"

[2017-01-11 17:57] mayteloyarte commented on #13
ah después que me logueo aparece bien! pero antes está el viejo.

[2017-01-12 05:44] kterva commented on #14
pronto!!! commit [8969215](https://github.com/LibreCoopUruguay/MultipleLocalAuth/commit/8969215e4324d223d4a5babb916c50c55d202cdf)

[2017-01-12 05:44] #14 closed, assigned to kterva

[2017-01-12 05:46] kterva commented on #12
pronto!! se verá el cambio al hacer la próxima actualización

[2017-01-12 05:46] #12 closed, assigned to kterva

[2017-01-12 05:51] kterva commented on #4
ya fueron eliminados, chequear

[2017-01-12 05:51] #4 closed, assigned to nobody

[2017-01-16 12:31] leogermani commented on #8
@kterva Pode colocar aqui o link para a API dos correios do Uruguai?

[2017-01-16 14:40] #5 closed, assigned to nobody

[2017-01-16 15:56] kterva commented on #8
**áreas administrativas diva-gis** http://biogeo.ucdavis.edu/data/diva/adm/URY_adm.zip
**mapas vectoriales ine 2011** http://ine.gub.uy/documents/10181/18006/Mapas+Vectoriales+a%C3%B1o+2011/97dbcd58-80a8-472c-86cc-e8ecdaafef99

**búsqueda de direcciones** - webservice correo uruguayo http://www.correo.com.uy/index.asp?pagVal=527

[2017-01-16 17:52] leogermani commented on #6
Consegui converter os shapefiles para o formato correto. Tive ajuda de um amigo e estou tentando documentar como fazer isso.

O arquivo sql gerado é este:

[deptos_shp.sql.zip](https://github.com/LibreCoopUruguay/mapasculturais/files/709076/deptos_shp.sql.zip)

Com este arquivo, basta seguir os últimos passos da documentação, que consistem em carregar esta tabela no banco de dados e inerir os regi

[2017-01-16 19:49] leogermani commented on #2
Na lista de espaços ok, na de evento ainda não coloquei, precisamos pensar melhor como fazer, pois um evento pode acontecer em vários espaços, em diferentes departamentos, então não existe apenas 1 departamento para exibir...

[2017-01-17 16:17] leogermani opened #16 "adicionar Google Analytics"

[2017-01-17 18:51] mayteloyarte opened #17 "Eliminar agente 314 en produccion (no me aparece opcion ni de eliminar ni de archivar)"
un compañero creó ese usuario pero ya existe, y no queremos que quede bajo un usuario privado si no en la órbita de la dnc.

[2017-01-18 21:51] leogermani commented on #8
A API dos correios não possui uma consulta por Codigo Postal que retorne o endereço.

O objetivo desta issue era facilitar o preenchimento do endereço, como acontece no mapa do Brasil. QUando a pessoa preenche o codigo postal, os campos de rua, bairro, cidade e estado são preenchidos automaticamente. No caso a API dos correios do Uruguai não oferece esta funcionalidade. Além disso, no Uruguai cada

[2017-01-18 21:51] #8 closed, assigned to kterva

[2017-01-18 22:15] leogermani opened #18 "traduzir os templates de email"
que estan en la carpeta BaseV1/templates

[2017-01-23 13:53] mayteloyarte opened #19 "de portugues a español"
el titulo del sello dice "selo mapas" sebe decir sello

icono de facebook dice Compartilhar

[2017-01-23 17:09] leogermani commented on #19
el selo era un sello ejemplo que puede ser editado y ya esta.

facebook traducido

[2017-01-23 17:09] #19 closed, assigned to nobody

[2017-01-23 17:17] #16 closed, assigned to nobody

[2017-01-23 17:18] leogermani commented on #16
listo, con el plugin https://github.com/LibreCoopUruguay/mapasculturais-googleanalytics

[2017-01-24 18:26] donsalvatore opened #20 "sobreponer mapas"
los botones del mapa donde te permite ver sobre el mismo mapa los pines de agentes, eventos y espacios no funciona.  botenes que están abajo a la derecha del mapa.

[2017-01-24 18:30] donsalvatore opened #21 "en proyectos - cambiar texto"
por ej. donde se le *Inscripciones abiertas de 24/01/2017 a 03/02/2017 a las 18:00* . ca biar el texto para ... abiertas desde el ...... hasta .....

[2017-01-24 18:31] donsalvatore opened #22 "en proyectos - texto"
donde se le online poner en linea. eso pasa en todos los botones de inscripción...

[2017-01-24 18:33] donsalvatore opened #23 "en proyectos pestaña inscripción - campo 4. Agentes"
revisionar todos los textos. muchos siguen en portugues

[2017-01-25 12:55] donsalvatore opened #24 "Tablas exportadas"
1)En eventos no funciona.

Al intentar exportar sale: This site can’t be reached
The webpage at http://culturaenlinea.uy/api/event/findByLocation/?@select=id,singleUrl,name,subTitle,type,shortDescription,terms,project.name,project.singleUrl,En_Municipio,En_Estado,classificacaoEtaria,project.name,project.singleUrl,occurrences,id,type,name,shortDescription,longDescription,rules,createTimestamp,statu

[2017-01-25 13:29] donsalvatore opened #25 "Manual actualizado del mapa. necesidad de traducción"
es un archivo .ppt
https://drive.google.com/file/d/0B_rIJHZCUTCHN3hFaFRsTENaYVE/view?usp=sharing

[2017-01-25 13:35] donsalvatore opened #26 "referencia de paso a paso para convocatorias."
No es una issue propriamente dita pero es necesario que en todas las basis de convocatórias exista um modelo paso a paso de como rellenar los campos e participar de la convocatoria.

ej https://docs.google.com/document/d/1lHig9fcikw_w4j8qTYFrotBSzS9zc0muRZeUSfC631o/pub#id.nt7yfq7t18cm

[2017-01-25 13:43] donsalvatore opened #27 "en perfil de agente decidir acerca de"
1 - raza. Mantener o retirar?
2 - sexualidad. Mantener o retirar. Si mantenemos cuales son las tipologias?

[2017-01-25 16:57] donsalvatore opened #28 "traducción en agentes"
En Descripción (larga) y corta del agente. Dentro del recuadro de edicción del texto esta |descricao longa| en gris!!!

[2017-01-25 17:32] donsalvatore opened #29 "CARGAR VIDEOS usuarios comunes"
no se puede cargar los videos de youtube cuando estas logueado como un usuario comun!!!!!!

[2017-01-25 17:36] mayteloyarte commented on #27
Borrar orientación sexual
cambiar raza por Identidad étnica

[2017-01-25 17:41] donsalvatore opened #30 "TRADUCCÍON campos de colunna de al izqueirda"
en todas las entidades, en los campos de la colunna de la izqueirda,
al rellennarlas con datos que no se encuentran se pone el texto en portugues: nenhum resultado encontrado

[2017-01-25 18:21] donsalvatore opened #31 "AGENTE com permiso de agente: enlaces en todas las entidades + galeria de video."
al intentar subir un enlace (en la colunna de la derecha de cualquier entidade) en angestes que tiene control, el sistema no te lo deja.

[2017-01-25 18:58] donsalvatore opened #32 "Pestaña de agenda/eventos en poryectos, espacios y agentes no figura en los respectivos perfiles"
Pestaña de agenda/eventos en poryectos, espacios y agentes no figura en los respectivos perfiles

[2017-01-25 20:03] donsalvatore commented on #27
Pero. Identidad etnica son muchas y es in termino muy difícil de poner concepto incluso en la actual antropologia. Es decir: cuales serian las opciones étnicas de uruguay? Seguro que no serian las que ya figuran en la plataforma.

Existe aqui en Uruguay algún departamento del gobierno, oficina o universidad que llevan estas cuestiones? Seria mejor preguntarles. O buscar algun estudio estatístico o

[2017-01-25 20:13] mayteloyarte commented on #27
borrar ese campo también.
Borrar raza y sexualidad.

[2017-01-26 17:38] mayteloyarte commented on #17
por favor borrar este usuario!

[2017-01-27 16:36] donsalvatore opened #33 "Tipologia en espacios : adicionar en tipo de espacio FABRICAS DE CULTURA"

[2017-01-30 14:03] donsalvatore opened #34 "Inscripciones online"
Inscripciones abiertas de 28/01/2017 a 28/01/2017 a las 15:30 .
Las inscripciones están encerradas pero el botón de inscripción sigue figurando en la pantalla.
Si se hace click al botón nos lleva a la pestaña inscripciones. Es decir el sistema no debería presentar el botón de inscripción una vez encerrada .

[2017-01-30 14:35] donsalvatore commented on #31
Ahora si se puede subir pero no se pude apagar.

[2017-01-30 17:17] mayteloyarte opened #35 "fecha nacimiento agente"
es complicado seleccionar la fecha de nacimiento, hay q elegir primero el año, porque considera como "enter" de fecha cuando uno selecciona el día, entonces si primero pongo el dia le da ok. luego quiero poner elaño y no hay forma que se guarde el cambio. salvo haga click de nuevo en el numero de dia. yo me di cuenta al rato que era eso, pero no creo que todo el mundo se de cuenta.

[2017-01-30 17:36] mayteloyarte opened #36 "traduccion portugues"
"reivindicar propriedad" por "Reivindicar propiedad"

[2017-01-30 17:37] mayteloyarte opened #37 "Cambiar Reglamento por Bases"
Donde dice reglamento tiene que decir Bases. tanto en como descargar reglamento, subir reglamento etc. cambiarlo por "Bases"

[2017-01-30 17:49] mayteloyarte opened #38 "cambiar texto "Agregar ocurrencia""
Cambiar "agregar ocurrencia" por "Agregar cuando y donde"

[2017-01-30 18:02] mayteloyarte opened #39 "sacar palabra "informe""
previo cada campo en elformulario dice "informe", que quede en blanco. Y si hay que poner sí o sí algo poner un guión "-"

[2017-01-30 18:02] mayteloyarte opened #40 "texto en portugues"
cuando quiero inscribir proyecto

Agente responsável pela inscrição *
Agente individual (pessoa física) com os campos CPF, Data de Nascimento/Fundação, Email Privado e Telefone 1 obrigatoriamente preenchidos

[2017-01-30 18:05] mayteloyarte opened #41 "En inscreipciones - campos obliugatorios agente"
para poder inscribir se pide tener lleno raza, ci, telefono etc. eso ya fue arreglado el año pasado de que no se pidiera. :( sera q hay mas cambios perdidos?
Los datos que tiene que tener cargados si o si es CI y email.

esmas cuando estas llenando el formulario dice q hay q tener cargado cedula y luego cuando llenas el formulario te salta conq  hay q cargar raza, y telefono, fecha nacimiento, gen

[2017-01-30 18:08] mayteloyarte opened #42 "txts en portugues"
luego deinscripto el proyeto en el resumen

Agente responsável pela inscrição
Agente individual (pessoa física) com os campos CPF, Data de Nascimento/Fundação, Email Privado e Telefone 1 obrigatoriamente preenchidos
Pablo Zouain
Id: 53
Nome: Pablo Zouain
: -34.9032490544537,-56.2014198303223
Descrição Curta:

[2017-01-30 18:10] mayteloyarte commented on #42
Inscripción enviada el dia 30/01/2017 às 16:07:52
as = a las
dia = día

[2017-01-30 18:11] mayteloyarte opened #43 "cambiar texto proponentes por postulantes"
Agentes (proponentes)
proponente = postulante

[2017-01-30 19:18] donsalvatore opened #44 "EN PROYECTOS: TXT portugês"
Campo 3.

Es posible crear opciones para que los proponente elijan a la hora de inscribirse, como por ejemplo "categorías" o "modalidades". Si no desea utilizar este recurso, deje en blanco el campo "Opciones".

en lugar de "proponente" poner "postulantes" en plural

[2017-01-30 19:22] donsalvatore opened #45 "Proyectos inscripciones campo 6"
campos de "agregar campos"
están en português ... hay una opción que pone DATa pero es fecha

[2017-01-30 19:25] donsalvatore opened #46 "lenguaje en libras traducir"
equivalente uruguayo del lenguaje de los señales.
esta en eventos

[2017-01-30 19:28] donsalvatore opened #47 "Agentes não conseguem se inscrever"
Ao tentarem se inscrever seus nomes não aparecem no campo para efetivar início de inscrição (acesso ao formulário).

No caso os agentes 53, 30 e 4.

[2017-01-30 19:59] #45 closed, assigned to kterva

[2017-01-30 20:29] donsalvatore opened #48 "PROYECTOS: mis proyectos - papelera - borrar de forma permanente"
dá ruim.. alias, existe uma regra para isso? tipo tenho um projeto com inscritos. seu eu deletra que acontece? seria por isso que ocorre o erro?

[2017-01-30 20:38] #46 closed, assigned to kterva

[2017-01-30 20:39] #44 closed, assigned to kterva

[2017-01-30 20:40] #43 closed, assigned to kterva

[2017-01-30 20:45] #42 closed, assigned to kterva

[2017-01-30 20:46] #40 closed, assigned to kterva

[2017-01-30 20:49] #39 closed, assigned to kterva

[2017-01-30 20:53] leogermani commented on #32
essa está resolvido certo? pode fechar @donsalvatore ?

[2017-01-30 20:56] #33 closed, assigned to leogermani

[2017-01-30 20:56] kterva commented on #38
se cambió por "Agregar cuándo y dónde"

[2017-01-30 20:56] #38 closed, assigned to kterva

[2017-01-30 20:56] leogermani commented on #27
removi os campos. Necessário verificar se ainda há algum texto que faz referência a eles

[2017-01-30 20:57] leogermani commented on #41
removi obrigatoriedade. Necessário verificar se ainda há algum texto que faz referência a eles

[2017-01-30 20:59] mayteloyarte opened #49 "En eventos, corregir en frecuencia"
En frecuencia dice "todos sos dias" sos=los

![image](https://cloud.githubusercontent.com/assets/17646115/22441337/c09670d0-e715-11e6-8161-ed048bfe37ab.png)

[2017-01-30 21:03] mayteloyarte opened #50 "en eventos corta=breve"
Queda feo que la gente vea "descripción corta:" creo que en agente y eso simplemente dice descripción. lo de corta lo aclara cuando lo estás escribiendo.

Cambiar de "descripción corta" en este caso para "descripción breve"

![image](https://cloud.githubusercontent.com/assets/17646115/22441449/321ba1ee-e716-11e6-8f90-093676751365.png)

[2017-01-30 21:05] #50 closed, assigned to nobody

[2017-01-30 21:06] #49 closed, assigned to nobody

[2017-01-30 21:07] mayteloyarte opened #51 "en "ocurrencia" cuándo y dónde"
Editar cuándo y dónde
Eliminar cuándo y dónde
en el botón de agregar cuándo y dónde, "haga clic para agregar cuándo y dónde"

[2017-01-30 21:08] kterva commented on #23
se debe actualizar el archivo de idiomas, está corregidos allí

[2017-01-30 21:08] #23 closed, assigned to kterva

[2017-01-30 21:09] #22 closed, assigned to kterva

[2017-01-30 21:10] #18 closed, assigned to kterva

[2017-01-30 21:13] kterva commented on #28
ver si no es js

[2017-01-30 21:15] #37 closed, assigned to nobody

[2017-01-30 21:16] #36 closed, assigned to leogermani

[2017-01-30 21:17] mayteloyarte commented on #41
igual está el control. el usuario tiene cargado ci y email q fue lo q pedi obligatorio y salta el control de cosas q faltan y estan en portugues.

p.d: leo t use tu usuario xq con el mio no puedo y no queria usar un usuario de alguno ajeno.

![image](https://cloud.githubusercontent.com/assets/17646115/22441954/3cf89674-e718-11e6-88ed-b3d7fa710a80.png)

[2017-01-30 21:19] mayteloyarte commented on #35
el problema es que falta el botón de OK que si aparece en otros campos de fecha por ej. eventos
![image](https://cloud.githubusercontent.com/assets/17646115/22442050/a55d8ab2-e718-11e6-9fc2-75d238b948ee.png)

[2017-01-30 21:21] #51 closed, assigned to nobody

[2017-01-31 15:15] donsalvatore opened #52 "EVENTOS : necesidad de que el campo inscripciones acepte enlaces"
isso por conta da divulgacao de formularios de inscricao

[2017-01-31 15:27] donsalvatore opened #53 "atribuicao de selo em formulario de projeto campo 5"
No campo 5 do formulario de projetos. ao adicionar um selo para ser atribuido a um agente responsavel selecionado, ao salvar o projeto e tronar a editar, o selo nao aparece mais. As vezes aparece, as vezes desaparece.

[2017-01-31 15:31] #47 closed, assigned to leogermani

[2017-01-31 15:32] donsalvatore opened #54 "sobre o mapa: botao ocultar selo mostrar selo nao funciona ou nao descobri a funcao"

[2017-02-01 16:48] mayteloyarte opened #55 "Cambio icono en navegador"
esta el MC hay q cambiarlo.
![image](https://cloud.githubusercontent.com/assets/17646115/22516629/1f342dc4-e885-11e6-9463-2159c80b21e1.png)

Se que comunicacion debe el logo, pero dejo este issue para tenerlo presente.

[2017-02-01 16:57] mayteloyarte opened #56 "Error al exportar datos agentes"
la planilla que exporta levanta los datos corridos y me parece q datos no publicos ej. telefono
![image](https://cloud.githubusercontent.com/assets/17646115/22516963/4d578b96-e886-11e6-9ca1-1e6745f2155a.png)

[2017-02-01 20:22] donsalvatore commented on #56
As tabelas estão com os dados trocados.
Não testei as outras as são dois problemas

1 - saíram os dados públicos mesmo eu não estando logado
2 - oa dados não correspondem as colunas

[2017-02-01 20:33] donsalvatore opened #57 "problemas con ubicación: pin y campos"
http://culturaenlinea.uy/agente/353
- [x] Hay el campo departamento, cuando salvas aparece otro campo departamento. Y a veces suele pasar que la información no es la misma como esta ahora (Montevideo y Montevideo a veces está Canelones y Montevideo)

- [ ] Hoy , en todas las entidades, todos que intentaron arrastrar el pin con ele raton. despues de guardar la info el pin se movia para otra ubicaci

[2017-02-01 20:34] donsalvatore opened #58 "Todas las entidades: pestaña agenda"
Antes la pestaña siempre estava activa, ahora solo se ve activa cuando sales del modo de edición.
Eso genero confusión pero no es un problema

[2017-02-01 20:35] donsalvatore opened #59 "Traducción: el la columna de la derecha"
donde se le dowload poner descargas
donde se le links poner enlaces

[2017-02-01 20:36] donsalvatore opened #60 "Traducción: en las pestaña de todas las entidades "sobre""
poner "acerca de"

[2017-02-01 20:40] donsalvatore opened #61 "Inscripciones abiertas problema"
http://culturaenlinea.uy/projeto/99/

ya se termino el periodo de inscripciones hacen 6horas.
Si voy a Proyectos in hago clic en "inscripciones abiertas (el fitro) me aparece la el proyecto

[2017-02-01 21:06] #60 closed, assigned to kterva

[2017-02-01 21:06] kterva commented on #59
no encuentro "download", sí se realizaron los cambios en "link"
¿podrán adjuntar captura?

[2017-02-01 21:07] #58 closed, assigned to nobody

[2017-02-01 21:09] kterva commented on #55
Es un favicon

[2017-02-01 21:14] kterva commented on #30
faltaba función de traducción en busca-avancada.php, revisar por si queda algún otro

[2017-02-01 21:14] #30 closed, assigned to kterva

[2017-02-01 21:39] leogermani commented on #53
resolvido

[2017-02-01 21:39] #53 closed, assigned to leogermani

[2017-02-01 21:42] leogermani commented on #48
https://github.com/hacklabr/mapasculturais/issues/1086

[2017-02-01 21:49] leogermani commented on #31
acompanhar em https://github.com/hacklabr/mapasculturais/issues/1081

[2017-02-01 21:52] leogermani commented on #29
Não consigo reproduzir. Por favor confirmar se este problema ainda acontece

[2017-02-01 21:53] leogermani commented on #20
pode fechr miguel?

[2017-02-01 22:09] leogermani commented on #56
vejo que os campos estão errados, os valores não correspondem as colunas.

Mas os campos privados não estão saindo se quem faz download não está logado.

Vou corrigir

[2017-02-01 22:57] leogermani commented on #41
Fiz um teste e consegui fazer a inscrição. Apesar de o texto (em portugues) dizer que outros campos são obrigatorios, eles não são.

Já descobri porque o texto está em português e vou trabalhar para resolver isso.

Por favor façam mais um teste e confirmem isso por favor.

Os campos obrigatórios são apenas: Documento e email privado.

[2017-02-02 14:17] leogermani commented on #52
Você quer dizer que os links se tornem automaticamente clicáveis?

[2017-02-02 17:55] mayteloyarte opened #62 "En Usuarios y roles"
Por un lado cuando hago click en mi foto ene l margen superior derecho aparecen algunos de lso campos del panel de control.
Pero si voy a panel de control aparecen mas.

Por otro lado, quise probar borrarle un papel a Begoña y me salta este error
![image](https://cloud.githubusercontent.com/assets/17646115/22561611/b1bb72c4-e957-11e6-8fe7-8b015785b088.png)

[2017-02-02 18:01] mayteloyarte opened #63 "Error en agenda de proyecto"
![image](https://cloud.githubusercontent.com/assets/17646115/22561775/7e8648ec-e958-11e6-8022-1b07f9512df7.png)

[2017-02-02 18:04] mayteloyarte opened #64 "Quiero inscribir y no deja"
Selecciono el agente con el q quiero inscribir, le doy "realizar inscripcion" y no hace nada.
Sí, tengo los datos obligatorios cargados.
![image](https://cloud.githubusercontent.com/assets/17646115/22561820/bc9a5b6e-e958-11e6-95db-d1074d993eeb.png)

[2017-02-02 18:52] #56 closed, assigned to leogermani

[2017-02-02 18:56] #24 closed, assigned to leogermani

[2017-02-02 19:25] mayteloyarte opened #65 "traduccion pgues-esp"
En proyectos, formulario

![image](https://cloud.githubusercontent.com/assets/17646115/22564689/2c8bb1a6-e964-11e6-91bb-fb1c1dfa1111.png)

[2017-02-02 19:26] mayteloyarte commented on #65
![image](https://cloud.githubusercontent.com/assets/17646115/22564740/597e24be-e964-11e6-8248-fb38e143e85a.png)

[2017-02-02 19:31] mayteloyarte opened #66 "En formulario"
Luego de inscribir un proyecto el campo de texto simple no corta el contenido y sigue de largo fuera de la pantalla

![image](https://cloud.githubusercontent.com/assets/17646115/22564910/03c7acd8-e965-11e6-870a-41d454445eae.png)

[2017-02-02 19:46] mayteloyarte opened #67 "En formulario"
1.- Cuando uno está llenando los campos como titulo dice
"Campos adicionales.
Para afectuar su inscripción, complete los campos abajo."
Sacar todo eso y no poder nada, puede ser?

2.- y cuando uno lo manda donde dice "Campos adicionales del formulario de inscripción." que no diga nada. Simplemente que liste los campos del formulario completos.

3.- Por otro lado. Me marea lo de los sellos... donde

[2017-02-02 19:47] mayteloyarte opened #68 "Sacar tilde formulário"
![image](https://cloud.githubusercontent.com/assets/17646115/22565535/40202f28-e967-11e6-85c1-694a263fe973.png)

[2017-02-02 19:54] mayteloyarte opened #69 "Planillas de exportación - traducción pges-esp"
Traducir campos de las columnas a español

[2017-02-02 19:57] mayteloyarte commented on #69
levanta el campo edad pero vacío, no se si habia una formula que calculaba la edad o un campo fantasma donde cada uno ponia su edad. No es relevante. Borrar

[2017-02-02 19:58] mayteloyarte commented on #69
levanta dos veces localizacion y dirección

[2017-02-02 20:17] mayteloyarte opened #70 "Planilla exporta inscriptos no levanta adjuntos"
![image](https://cloud.githubusercontent.com/assets/17646115/22566597/7221b2cc-e96b-11e6-9260-b85c374f70a2.png)

[2017-02-02 20:37] mayteloyarte opened #71 "Traduccion pgues-esp"
en proyectos inscriptos
![image](https://cloud.githubusercontent.com/assets/17646115/22567323/40eb8e8c-e96e-11e6-865b-f298a520552a.png)

[2017-02-02 20:48] mayteloyarte commented on #71
![image](https://cloud.githubusercontent.com/assets/17646115/22567689/bc0e2d76-e96f-11e6-877b-8b580db8250d.png)

[2017-02-02 20:50] mayteloyarte commented on #71
todas as opcoes
inscirpcion enviada "ás"=a las
responsável

![image](https://cloud.githubusercontent.com/assets/17646115/22567765/04b2aade-e970-11e6-80e9-8ef19dd4cbb9.png)

[2017-02-02 21:04] mayteloyarte opened #72 "Cambio de txt en inscripciones"
Sacar "de"
que quede: "Numero de inscripción"
y que sea mas chico. Es demasiado grande. que tenga un tamaño normal.

![image](https://cloud.githubusercontent.com/assets/17646115/22568286/0248ef36-e972-11e6-8c2e-4bdb02b78ce3.png)

[2017-02-02 21:16] donsalvatore commented on #59
en todas las entidades ... modeo de edicción

![screen shot 2017-02-02 at 6 15 44 pm](https://cloud.githubusercontent.com/assets/2921891/22568728/ad28789e-e973-11e6-842b-5248af673195.jpg)

[2017-02-02 21:31] donsalvatore commented on #24
en agentes

 - no sale información acerca de edad

[2017-02-02 21:34] donsalvatore commented on #52
sim!!!
pq lá vc divulga o formulário de inscrição

[2017-02-02 21:36] donsalvatore commented on #61
mas o filtro deve buscar apenas inscrições abertas (efetivamente).
segue do mesmo jeito

[2017-02-02 21:37] donsalvatore commented on #20
fechar só depois de entender pra que serve o botão de selos

2017-02-01 18:53 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-02 21:40] donsalvatore commented on #29
pode fechar

2017-02-01 18:52 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-02 21:46] donsalvatore commented on #31
pode fechar

2017-02-01 18:49 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-02 21:46] donsalvatore commented on #48
ok!!!
a esperar

2017-02-01 18:42 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-02 21:55] donsalvatore commented on #59
ya esta alli la pantalla

2017-02-01 18:06 GMT-03:00 leonardo <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-02 22:04] donsalvatore commented on #53
resolveu não

 - o selo do aprovado agora aparece no agente, ok
mas

 - o agente que ganhou selo não consegue atribuir selo aos eventos nem a nenhum outra entidade.

[2017-02-02 22:05] donsalvatore commented on #72
eso no estoy de acuerdo y este numero es si importante. Lo de achicar significa disminuir las possibilidade de protocolos

[2017-02-02 22:06] donsalvatore commented on #70
es verdad

[2017-02-02 22:08] mayteloyarte commented on #72
no digo de borrarlo, digo de sacar la palabra "la". en español no decimos numero de la inscripcion, osea se dice pero queda raro.
Que quede "número de inscripción" no "número de la inscripción"
y que el numero de inscripción sea mas chico. Me parece groseramente grande y a nosotros DNC no nos sirve de mucho.
Reitero, no estoy diciendo de borrar. Estoy pidiendo que se edite el texto y el numero ten

[2017-02-02 22:11] donsalvatore commented on #64
Leo isso, acho eu, que são os agentes antigos do sistema. Hj aconteceu isso de novo com uam pessoa que fez a primeira aula da capacitação

[2017-02-02 22:17] mayteloyarte commented on #64
en otro proyecto sí me dejó inscribirme, con el mismo usuario. Capaz sea algo con ese proyecto.

[2017-02-02 22:45] leogermani commented on #61
me dá o exemplo que você testou e não funcionou.

[2017-02-02 22:45] #29 closed, assigned to leogermani

[2017-02-02 22:47] leogermani commented on #53
Esse não é o comportamento esperado. O agente recebe o selo em seu perfil, mas nao ganha permissão para atribuir o selo em outras entidades

[2017-02-03 00:57] donsalvatore commented on #61
pode fechar ;)

[2017-02-03 00:58] donsalvatore commented on #53
closed

2017-02-02 19:47 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-03 13:49] #61 closed, assigned to leogermani

[2017-02-03 13:58] #41 closed, assigned to leogermani, kterva

[2017-02-03 17:39] kterva commented on #71
están en archivos .js /mapasculturais/src/protected/application/themes/BaseV1/assets/js/ng.entity.module.project.js

Responsável fue solucionado en mapasculturais/src/protected/application/themes/BaseV1/layouts/parts/singles/project-registrations--tables--published.php

[2017-02-03 17:46] kterva commented on #59
solucionado, faltaba función de traducción en downloads.php

[2017-02-03 17:46] #59 closed, assigned to kterva

[2017-02-03 17:49] kterva commented on #72
se sacó el "la"

[2017-02-03 17:49] #68 closed, assigned to kterva

[2017-02-03 18:04] kterva commented on #67
1 y 2 ¿sacar?
3 - solucionado

[2017-02-03 18:05] #65 closed, assigned to kterva

[2017-02-03 18:05] mayteloyarte commented on #67
si! 1 y 2 sacar

[2017-02-03 18:07] kterva commented on #67
@leogermani

[2017-02-06 10:14] #31 closed, assigned to leogermani

[2017-02-06 10:14] leogermani commented on #27
@mayteloyarte confirma que esta issue está resolvida?

[2017-02-06 10:15] #32 closed, assigned to leogermani

[2017-02-06 10:19] leogermani commented on #57
Nâo consegui reproduzir o segundo problema. Se eu arrasto o pin com o mouse, ele sempre fica onde eu coloco. Testei com usuário normal e com admin.

Confirmam se ainda acontece?

[2017-02-06 10:24] leogermani commented on #20
para o selos já temos a issue #54 . Fechando essa

[2017-02-06 10:24] #20 closed, assigned to leogermani

[2017-02-06 14:19] leogermani commented on #72
listo

![captura de tela de 2017-02-06 12-16-53](https://cloud.githubusercontent.com/assets/971483/22650474/87a193c6-ec66-11e6-8354-e51aff9e9fbb.png)

[2017-02-06 14:19] #72 closed, assigned to leogermani

[2017-02-06 16:23] leogermani commented on #67
estou consultando as pessoas aqui no Brasil para ver se fazemos isso para todo mundo, ou apenas para culturaenlinea

[2017-02-06 16:36] mayteloyarte commented on #27
Los campos si se sacaron. si aparece en otro lado no se. Que yo sepa solo saltaba cuando uno se iba a inscribir y eso se arregló. si salta en otro lado no lo se.

[2017-02-06 17:31] mayteloyarte opened #73 "Cambiar texto downloads por descargas"
En las entidades donde permite cargar archivos cambiar Downloads por Descargas

[2017-02-06 19:10] mayteloyarte opened #74 "Agregar tipo de evento: Desfile"

[2017-02-07 20:01] donsalvatore opened #75 "traducción/correccíon de texto"
MIIS - se dice mis con una i ;)

![screen shot 2017-02-07 at 5 00 24 pm](https://cloud.githubusercontent.com/assets/2921891/22708986/0bce99f0-ed57-11e6-8911-251940d50111.jpg)

[2017-02-07 22:01] donsalvatore opened #76 "urgente::::necessidade de todas as dimensões de imagens do site"
parea podermos fazer os logos e selos etc precisamos ter as dimensões das imagens de toda a plataforma.

Já existe isso?

[2017-02-08 11:36] leogermani commented on #70
https://github.com/hacklabr/mapasculturais/issues/1100

[2017-02-08 11:36] leogermani commented on #63
https://github.com/hacklabr/mapasculturais/issues/1101

[2017-02-08 11:36] leogermani commented on #62
https://github.com/hacklabr/mapasculturais/issues/1102

[2017-02-08 11:37] leogermani opened #77 "Problema ao editar agente filho de filho"
O pai do agente volta a ser o avô!

[2017-02-08 11:37] leogermani commented on #77
https://github.com/hacklabr/mapasculturais/issues/1098

[2017-02-08 16:17] leogermani commented on #77
resolvido em https://github.com/hacklabr/mapasculturais/commit/43dc4afa27975cc66941f58eafa895d91e1fcb7f

[2017-02-08 16:17] #77 closed, assigned to nobody

[2017-02-08 16:24] #74 closed, assigned to nobody

[2017-02-08 16:43] leogermani commented on #76
LOGO até 72px de altura / +- 200px de largura

marca da organização (topo direito, opcional) - até 72px de altura / até 90px de largura

avatar padrão - 144px 144px

favicon - icone de 14px - ver: http://stackoverflow.com/questions/2268204/favicon-dimensions

Imagem de fundo da home: indefinido. Pode ser bem grande, para se ajustar a diferentes monitores.

Ex:

http://spcultura.prefeitura.sp.gov.b

[2017-02-08 16:49] leogermani commented on #54
é uma funcionalidade ainda em desenvolvimento. Este botão só está aparecendo para admins

[2017-02-08 16:49] #54 closed, assigned to leogermani

[2017-02-08 17:19] kterva commented on #52
resuelto

[2017-02-08 17:19] #52 closed, assigned to leogermani

[2017-02-08 17:39] leogermani commented on #63
Nâo conseguimos mais reproduzir este erro

[2017-02-08 17:39] #63 closed, assigned to leogermani

[2017-02-08 18:04] leogermani commented on #67
Removido título "Campos adicionales" y toda la seccion "Sellos"

[2017-02-08 18:04] #67 closed, assigned to leogermani

[2017-02-08 18:18] donsalvatore commented on #76
E a imagem do header?

Miguel Gondim de Castro
+55 11 971612502

[2017-02-08 18:25] donsalvatore opened #78 "el manual esta cortado:: problema de diseño"
...

[2017-02-08 18:27] leogermani commented on #76
Que imagem do header?

[2017-02-08 18:30] #27 closed, assigned to leogermani, mayteloyarte

[2017-02-08 18:31] #17 closed, assigned to nobody

[2017-02-08 18:32] #2 closed, assigned to nobody

[2017-02-08 18:35] donsalvatore opened #79 "añadir tipologia inscripciones a proyectos"

[2017-02-08 18:38] #75 closed, assigned to kterva

[2017-02-08 18:40] #73 closed, assigned to nobody

[2017-02-08 18:54] leogermani commented on #70
Faltava instalar o ZIP no servidor.

Está resolvido para as inscrições enviadas a partir de agora.

[2017-02-08 18:54] #70 closed, assigned to leogermani

[2017-02-08 18:55] #21 closed, assigned to kterva

[2017-02-08 19:05] donsalvatore opened #80 "agente Silvia Listur http://culturaenlinea.uy/agente/352/ no logra inscribirse"
no projetop http://culturaenlinea.uy/projetos/edita/115/#tab=sobre
eram 5 minutos antes de fechar

[2017-02-08 19:05] #79 closed, assigned to leogermani, kterva

[2017-02-08 19:07] donsalvatore opened #81 "agente colectivo fondos de incentivo - agente con poder german casco no puede cargar videos en el agente colectivo"

[2017-02-08 19:21] donsalvatore opened #82 "boton para descargar todos lso zips del formulario en proyectos"
necesario para proyectos con gran volumen de inscripciones

[2017-02-08 21:24] donsalvatore commented on #76
Todos os perfis das entidades tem um header. Aquela imagem retantular logo acima da foro de perfil de qualquer entidade.

Miguel Gondim de Castro
+55 11 971612502

[2017-02-08 23:23] leogermani commented on #80
Isso acontece as vezes. Já identifiquei o problema:

https://github.com/hacklabr/mapasculturais/issues/1103

[2017-02-09 02:29] donsalvatore commented on #80
Massa.
Sabe explicar pra mundanos?

Miguel Gondim de Castro
+55 11 971612502

[2017-02-09 11:55] leogermani commented on #76
Essa imagem varia a largura de a acordo com a resolução da tela da pessoa.

Então pode ser uma imagem de 1200x192 , mas percebendo que em algumas telas a área visível dela pode ser apenas os 600px centrais. E no celular também come um pouco a altura.

[2017-02-09 11:57] leogermani commented on #80
Não tem muito como explicar de maneira não técnica.. era um bug mesmo. Uma situação que não estava prevista que gerava um erro... mas não tinha a ver com nada nenhuma situação em particular...

[2017-02-09 11:57] #80 closed, assigned to leogermani

[2017-02-09 12:08] leogermani commented on #81
Não consegui reproduzir.

Fiz o teste e funcionou. Confirma Miguel?

[2017-02-09 17:44] donsalvatore opened #83 "agregar tipologia VISITAS GUIADAS en eventos pq é uma atividade básica"

[2017-02-09 17:45] donsalvatore opened #84 "agregar a tipologia de espacos ESPACIOS PUBLICOS por cuenta de eventos callejeros"

[2017-02-09 17:49] donsalvatore opened #85 "BORRADORES en proyectos"
Importante. La gente quiere trabajar con borradores antes de publicar las cosas. Intetaron generar una jerarqua entre dos proyectos mas como estan en borrador no se puede hacer pq no figuran en el listado los borradores. Si una vez publicados no se puede volver atras

[2017-02-09 17:54] donsalvatore opened #86 "agregar INTERVENCION URBANA a tipologia de eventos"

[2017-02-09 18:17] donsalvatore opened #87 "Problema del rango de fecha"
este proyecto FESTIVALITO tine un evento entre este rango de fecha que se pone el la foto.
Pero solamente sale el evento si tu cambias la fecha de inicio para un dia cualquier.
Creyemos que tene quie ver con algo relacional al dia presente de publicación o algo ai

![img_2530](https://cloud.githubusercontent.com/assets/2921891/22796794/890b6f4a-eeda-11e6-9e2b-b2b131ff56a3.JPG)

[2017-02-09 18:53] donsalvatore opened #88 "Barra lateral derecha en Agente: Agentes"
SOY MAYTE
Se puede sacar el campo de agentes de al lado? no el de admiistrador.
sino la incorporacion de los agentes.
xq esta desordenado y no agrupado, entonces marea. Hay varios agentes que pertenecen a un grupo ejemplo fondos, o ciudadania y territorio. No queremos crear mas agentes que agrupen cosas xq se hace infinito el arbol.
Puede ser como era antes? yo creo el grupo de agentes y meto dent

[2017-02-09 19:23] donsalvatore opened #89 "pesteñas agenda en espacios, proyectos y agentes"
acontece com o perfil 371 que publica pelo museo nacional de artes.
em todas as abas das entidades o evento http://culturaenlinea.uy/evento/77/ nao aparece para ela.

se dou log off ou estou com outra agenda rola!!

[2017-02-10 14:09] #83 closed, assigned to leogermani, kterva

[2017-02-10 14:31] leogermani commented on #89
https://github.com/hacklabr/mapasculturais/issues/1101

[2017-02-10 14:33] leogermani commented on #88
Creio que seja melhor então deixar apenas para o dono do agente. Por que é bom ter um lugar onde se possa ver todos os filhos do agente, certo?

[2017-02-10 14:33] #86 closed, assigned to leogermani, kterva

[2017-02-10 14:35] leogermani commented on #87
Não consigo reproduzir o problema... Veja se consegue achar uma maneira de reproduzir

[2017-02-10 14:53] donsalvatore commented on #88
Acho que nunca podemos esquecer que o mapas é um bando de dados. marearse com informação de fato pode atrapalhar mas o sistema tem que deixar cada vez mais clara as relações para que a gestão da infomação seja fácil... o lugar de consulta e divulgação e no mareo seria no site wordpress.

que acha?

[2017-02-10 14:54] donsalvatore commented on #87
não consigo..... mas já rolou umas tantas vezes

2017-02-10 11:35 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-12 11:29] leogermani commented on #82
Isto é bastante complicado, pode gerar uma série de problemas. Vamos deixar assim por enquanto e, se realmente for uma demanda muito importante, avaliamos novamente.

[2017-02-12 11:29] #82 closed, assigned to leogermani, kterva

[2017-02-12 11:31] leogermani commented on #69
- [x] remover campo idade
- [x] traduzir campos que estão em portugues
- [x] remover localização e direção duplicada
- [x] remover campo "departamento" duplicado (geoDepartamento)

[2017-02-12 11:32] leogermani commented on #64
provavelmente problema igual a #80

[2017-02-12 11:32] #64 closed, assigned to leogermani

[2017-02-12 11:33] leogermani commented on #48
Parece resolvido. Miguel confirma por favor?

[2017-02-12 11:38] #84 closed, assigned to leogermani, kterva

[2017-02-12 12:12] #66 closed, assigned to leogermani

[2017-02-12 14:29] leogermani commented on #69
Sobre os campos duplicados:

## Direccion y Direccion

é um tema da tradução.

O primeiro campo "Direccion" é o endereço completo, que junta todas as informações de rua, numero, bairro, etc...

O segundo campo "Direccion" é chamado, originalmente, de "nome do logradouro", ou seja, o nome da rua ou da avenida...

[2017-02-12 20:12] #89 closed, assigned to leogermani, kterva

[2017-02-12 21:01] donsalvatore commented on #48
continua dando erro

Culturaenlinea.uy <http://culturaenlinea.uy/> <http://culturaenlinea.uy/>

   - <http://culturaenlinea.uy/sobre/>
   - <http://culturaenlinea.uy/como-usar/>

   -
   Eventos

   <http://culturaenlinea.uy/busca/##(global:(enabled:(event:!t),filterEntity:event))>
   -
   Espacios

   <http://culturaenlinea.uy/busca/##(global:(enabled:(space:!t),filterEntity:space))>
   -
   Agen

[2017-02-12 21:02] donsalvatore commented on #82
ok!!!!
mas como podemos colocar uma etiqueta de que apesar de fechada entra numa
fila de possibilidades/idéias

2017-02-12 8:29 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-02-12 21:36] #34 closed, assigned to leogermani

[2017-02-12 21:39] leogermani opened #90 "Selecionado em edital não consegue atribuir evento ao projeto"
O projeto ao qual foi selecionado não aparece como possibilidade na hora de cadastrar eventos

[2017-02-12 21:39] leogermani commented on #90
https://github.com/hacklabr/mapasculturais/issues/1099

[2017-02-13 12:38] leogermani commented on #82
Vamos ter uma área pra isso no site do Mapas Culturais q vai sair em breve

[2017-02-14 17:20] mayteloyarte opened #91 "Agregar tipo de evento: Visita"
Agregar tipo de evento
Visita

[2017-02-14 17:23] mayteloyarte opened #92 "Txts en portugues en Proyectos"
![image](https://cloud.githubusercontent.com/assets/17646115/22940579/22d9c470-f2c1-11e6-8116-5d52bb812255.png)

[2017-02-14 17:24] mayteloyarte commented on #92
no se si las correcciones en portugues caen despues, o las van haciendo mientras las cargamos. por las dudas las pongo aca.
![image](https://cloud.githubusercontent.com/assets/17646115/22940629/559fe5f6-f2c1-11e6-9cfb-29bddc04161a.png)

[2017-02-14 21:33] mayteloyarte opened #93 "Solicitud campos formulario"
Es posible agregar "campos" dentro del formulario que su tipo sea título.
Es decir que el usuario que se inscribe no tenga que llenar nada. Porque hay preguntas que son grupales, o se necesita un texto aclarando las características de las preguntas (se que se puede hacer uno por uno, pero cuando son muchas la cosa cambia).
ej. titulo: Datos personales
y bajo ese titulo esten las preguntas.

Surge

[2017-02-15 20:46] mayteloyarte commented on #91
veo que ahora está el tipo visita guiada, yo le sacaría el guiada porque pueden haber visitas libres.
en todo caso que en el detalle se aclara que es guiada o en el nombre del evento.

Entonces poner tipo Visita

[2017-02-15 21:17] mayteloyarte opened #94 "cambiar txt cerca por cerrar"
![image](https://cloud.githubusercontent.com/assets/17646115/22995774/f7fca3cc-f3aa-11e6-94bc-8ca085615d90.png)

[2017-02-21 16:56] mayteloyarte opened #95 "Sacar txt en subir bases"
En formatos aceptados dejar solo pdf
que quede así "Envíe un archivo con las bases. Formato aceptado: .pdf."

no es necesario cambiar el control, dejarlo como está. Pero que la gente crea que solo tiene que subir pdf. si no igual te suben un documento oficial en word con logos y todo y es peligroso.

![imagen](https://cloud.githubusercontent.com/assets/17646115/23174693/f039df2a-f83b-11e6-995a-db1

[2017-02-21 20:03] mayteloyarte opened #96 "Error cuando quiero borrar definitivamente un proyecto"
supongo que es por que tiene inscripciones
![image](https://cloud.githubusercontent.com/assets/17646115/23182530/98cb0be4-f857-11e6-9a0f-12e0f3cc421e.png)

[2017-02-21 20:10] mayteloyarte opened #97 "Cambiar botón CLEAR por LIMPIAR"
![image](https://cloud.githubusercontent.com/assets/17646115/23182789/8be0e5d8-f858-11e6-98d6-4933d452e8cf.png)

[2017-02-21 20:14] mayteloyarte opened #98 "Quitar control q exija https:// o www"
el usuario comun no sabe eso
que solo exija punto algo
![image](https://cloud.githubusercontent.com/assets/17646115/23182896/f229d476-f858-11e6-8212-aba1ea4b0029.png)

[2017-02-21 20:16] mayteloyarte commented on #92
![image](https://cloud.githubusercontent.com/assets/17646115/23183076/85018ffa-f859-11e6-8bf7-d9ecfd5efe63.png)

[2017-02-21 20:34] mayteloyarte opened #99 "Notificación resultados inscripciones en proyectos"
El usuario que inscribe un proyecto deberia recibir una notificación cuando se publican los resultados y su proyecto fue asigando con alguna categooria ej. seleccionado, no seleccionado, etc.
Lo propongo, no se si esta contemplado o ya se hace en otro lado.

[2017-02-21 21:11] mayteloyarte opened #100 "¡IMPORTANTE!!! inscripciones"
Hice una inscripcion a un proyecto, lo cerre, publiqué resultados y exporté la planilla.
Intenté acceder al proyecto desde el link de la planilla y me pidio que me loguera. Creé el usuario jurado. Cuando quiero ver el proyecto logueda me da error.
En el proyecto agregué al jurado sin la posibilidad de editar y me da el mismo error.
Le doy la posibilidad de editar y ahí si puede ver el proyecto.
Es

[2017-02-21 21:31] mayteloyarte opened #101 "Agregar tipo INSTITUTO"

[2017-03-03 15:57] #94 closed, assigned to nobody

[2017-03-07 18:53] #101 closed, assigned to nobody

[2017-03-07 18:53] leogermani commented on #96
duplicate #48

[2017-03-07 18:53] #96 closed, assigned to nobody

[2017-03-07 19:41] mayteloyarte opened #102 "Problemas con la fecha de evento"
Dice que hay error, no dice cual es.
me pasa cuando pongo fecuencia semanal a todos los dias.
si pongo una sola vez lo carga

![image](https://cloud.githubusercontent.com/assets/17646115/23674475/d4d608f2-0354-11e7-9510-be23ef3f72a8.png)
![image](https://cloud.githubusercontent.com/assets/17646115/23674500/e22634c8-0354-11e7-85b4-ad0e0dfa8a2f.png)

[2017-03-07 20:33] mayteloyarte opened #103 "txt portugues"
![image](https://cloud.githubusercontent.com/assets/17646115/23676664/2c767b12-035c-11e7-8e6e-310b900f9be1.png)

[2017-03-07 20:43] mayteloyarte opened #104 "txt portugues erro"
![image](https://cloud.githubusercontent.com/assets/17646115/23677079/87bc8236-035d-11e7-8ae4-515567cd4c01.png)

[2017-03-07 21:35] leogermani opened #105 "Erro ao aprovar notificações"
O link para aprovar notificações desde o menu está errado. Só funciona quando aprovamos a partir da home do painel.

https://github.com/hacklabr/mapasculturais/issues/1110

[2017-03-07 21:35] leogermani opened #106 "Erros de interface de ocorrências"
https://github.com/hacklabr/mapasculturais/issues/1111

- [ ] Quando se cria uma ocorrência com repetição diária ou semanal e se deixa apenas a data final em branco, a mensagem de erro não deixa claro onde é o erro. Precisa ter a exclamação ao lado do campo de data final

- [ ] Quando se edita uma ocorrência existente, que está esperando aprovação de um espaço, não há feedback de que a ocorrẽncia

[2017-03-07 22:12] mayteloyarte opened #107 "txt portugues painel"
![image](https://cloud.githubusercontent.com/assets/17646115/23680423/f269d76c-0369-11e7-8513-eba7824963aa.png)

[2017-03-08 15:05] leogermani commented on #107
qual é o texto?

[2017-03-08 15:40] #103 closed, assigned to nobody

[2017-03-08 16:28] kterva commented on #107
es la url, está seleccionado en la barra de dirección de la imagen

[2017-03-08 16:44] #87 closed, assigned to leogermani, donsalvatore, kterva

[2017-03-08 16:45] kterva commented on #85
¿esto quedó solucionado?

[2017-03-08 16:45] kterva commented on #81
¿esto quedó solucionado?

[2017-03-08 16:45] kterva commented on #78
se está trabajando en la nueva versión

[2017-03-08 16:45] #78 closed, assigned to kterva

[2017-03-08 16:45] #76 closed, assigned to leogermani

[2017-03-08 16:46] kterva commented on #71
verificar si está solucionado

[2017-03-08 16:47] kterva commented on #69
Verificar si esto está solucionado

[2017-03-08 16:48] kterva commented on #57
¿quedó solucionado?

[2017-03-08 16:48] kterva commented on #55
¿está pronto el favicon?

[2017-03-08 16:50] kterva commented on #25
ya se realizó traducción, está en edición

[2017-03-08 16:50] #25 closed, assigned to kterva, mayteloyarte

[2017-03-08 16:50] kterva commented on #9
¿estó se solucionó?

[2017-03-08 16:51] kterva commented on #6
¿en qué estado quedó esto?

[2017-03-08 16:52] kterva commented on #3
verificar si esto está solucionado, creo que sí

[2017-03-08 17:02] leogermani commented on #102
Já contemplada em #106

[2017-03-08 17:03] #102 closed, assigned to leogermani

[2017-03-08 20:32] donsalvatore commented on #81
Testado e ok. Porém gera o seguinte problema.
Carreguei o vídeo logado como German, o vídeo não pode ser deletado. dou no
sinal de apagar mas o vídeo continua lá!!!
http://culturaenlinea.uy/agente/321/

2017-03-08 13:45 GMT-03:00 leonardo <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-03-08 20:36] donsalvatore commented on #57
ainda existe o problema das localidades fora de montevideo. o pin não cai
no local certo e os campos para preenchimento geram confusão pois campos
como bairro não existem. houve uma vez que funcionou quando supusemos que
bastava colocar o mesmo nome do bairro e município.

2017-03-08 13:48 GMT-03:00 leonardo <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@se

[2017-03-09 15:35] mayteloyarte opened #108 "Agregar tipo Mediateca"

[2017-03-09 15:36] mayteloyarte opened #109 "TXT portugues actuacao"
![image](https://cloud.githubusercontent.com/assets/17646115/23757263/09e79666-04c5-11e7-9226-a9b6125ee8f7.png)

[2017-03-09 16:08] mayteloyarte opened #110 "Cambiar MUNICIPIO por LOCALIDAD/MUNICIPIO"
![image](https://cloud.githubusercontent.com/assets/17646115/23758712/5f0cdb5c-04c9-11e7-8f2b-91448424ed2f.png)

[2017-03-09 16:23] mayteloyarte opened #111 ""selecione" por SELECCIONE"
![image](https://cloud.githubusercontent.com/assets/17646115/23759426/8c651612-04cb-11e7-8c34-d75034138f6b.png)

[2017-03-09 17:31] #111 closed, assigned to nobody

[2017-03-09 18:50] mayteloyarte commented on #71
verificado

[2017-03-09 18:55] mayteloyarte commented on #69
No.
Todos (agentes,espacios,eventos,proyectos) tienen campos en pgues. Otros campos se llaman registrationFrom registrationTo

[2017-03-09 18:56] mayteloyarte commented on #9
no

[2017-03-09 18:56] mayteloyarte commented on #3
si

[2017-03-09 19:46] mayteloyarte commented on #110
Pendiente

[2017-03-09 19:47] mayteloyarte commented on #109
Pendiente

[2017-03-09 19:48] mayteloyarte commented on #108
Pendiente

[2017-03-09 19:51] mayteloyarte commented on #107
Pendiente

[2017-03-09 19:52] mayteloyarte commented on #106
Pendiente

[2017-03-09 19:55] mayteloyarte commented on #104
Pendiente
antes solo el erro estaba en portugues. ahora toda la alerta esta en portugues
![image](https://cloud.githubusercontent.com/assets/17646115/23767970/36ebe148-04e9-11e7-96e0-8620ad0cc6dc.png)

[2017-03-09 19:56] mayteloyarte commented on #100
Pendiente y vital

[2017-03-09 19:56] mayteloyarte commented on #99
Pendiente

[2017-03-09 19:58] mayteloyarte commented on #91
Pendiente

[2017-03-09 19:59] mayteloyarte commented on #90
Solucionado parcialmente, problema con el link de autorizacion en notificaciones.

[2017-03-09 20:02] mayteloyarte commented on #88
PENDIENTE
Sacar el listado de agentes hijos de la barra lateral derecha.
Quizas ponerlo en otro lado ej. al lado de agenda o en otro lado. Pero ahí marea.
Esto es a pedido de comunicación.

[2017-03-09 20:09] mayteloyarte commented on #85
No se, que verifique bien miguel.
Me permite meterle hijos a un borrador, pero al padre no le figura el hijo.

[2017-03-09 20:11] mayteloyarte commented on #69
no entiendo lo de dirección. que levante la direccion cargada.

[2017-03-09 20:12] mayteloyarte commented on #62
Pendiente

[2017-03-09 22:26] donsalvatore commented on #85
acabo de hacer prueba.
Como un usuario simples puse en borrar dor un proyecto. En seguida me
gustaria poner un proyecto hijo a este proyecto en borrador. No funciona.

la regla seria: figurar tan solo los proyectos borradores los cuales son
mis (firmados por mi). Eso me parece bién.
Pero hay una cuestión que no se contestar. Pdprian figurar tb en el listado
de padres los borradores sobre proyectos

[2017-03-09 23:44] donsalvatore commented on #88
pero es una información importante.
Cambiar de sitio porque marea? Jeje

Miguel Gondim de Castro
+55 11 971612502

[2017-03-10 16:13] mayteloyarte commented on #88
Esto es algo que no estaba, apareció hace poco. Preferimos la versión anterior que no lo tenía, por lo menos no en la barra lateral derecha.
Por eso consulto si no se puede meter en otro lado tipo al lado de la agenda.

[2017-03-10 20:11] #104 closed, assigned to leogermani

[2017-03-10 20:11] #97 closed, assigned to nobody

[2017-03-10 20:12] #92 closed, assigned to nobody

[2017-03-10 20:13] #71 closed, assigned to leogermani

[2017-03-13 16:29] mayteloyarte commented on #92
sigue habiendo textos en portugues!
![image](https://cloud.githubusercontent.com/assets/17646115/23864373/0fc4bf44-07f1-11e7-9249-a23db6212645.png)

[2017-03-13 16:29] mayteloyarte commented on #93
pendiente

[2017-03-13 16:31] mayteloyarte commented on #95
pendiente

[2017-03-13 16:32] mayteloyarte commented on #98
pendiente!

[2017-03-13 16:33] mayteloyarte commented on #92
sigue diciendo "ás"
![image](https://cloud.githubusercontent.com/assets/17646115/23864556/af79cc82-07f1-11e7-956f-bf7f1ee3b5fb.png)

[2017-03-13 17:02] mayteloyarte opened #112 "error cuando logueo"
sigue apareciendo esto, refresco y funciona pero cualquier usuario dudo se de cuenta
![image](https://cloud.githubusercontent.com/assets/17646115/23865525/c17995f4-07f4-11e7-952f-b603226024e7.png)

[2017-03-15 20:53] kterva commented on #107
pronto, de todas formas, chequear

[2017-03-15 20:53] #107 closed, assigned to leogermani

[2017-03-15 21:15] kterva commented on #110
pronto!!

[2017-03-15 21:15] #110 closed, assigned to nobody

[2017-03-16 18:55] kterva commented on #109
solución transitoria
resta aplicar funciones de traducción al archivo src/protected/application/themes/BaseV1/assets/js/directives/find-entity.html
se tradujo en el código

[2017-03-16 18:55] #109 closed, assigned to nobody

[2017-03-20 19:34] #28 closed, assigned to kterva

[2017-03-24 20:28] mayteloyarte opened #113 "txt en portugues"
![image](https://cloud.githubusercontent.com/assets/17646115/24312423/4c84d062-10b7-11e7-9b5d-1b5026d1f7e5.png)

[2017-03-28 19:04] mayteloyarte opened #114 "fecha y tema de ¿importación?"
Reporte de Error
Cuando se edita la fecha inicial y final de un evento en "Agregar cuándo y dónde", al guardar, quedan las fechas como "Invalid Date"
Luego de varios intentos de repente queda bien. Habría que saber cual es la razón de que se invalide.

Por otro lado, necesitaría contactar con la gente de hizo los ajustes del software a Uruguay, para hablar del tema para que importe los datos de nu

[2017-03-29 17:47] kterva commented on #114
amplío explicación:
Por el mail a Maite, todos los eventos quedan "invalid date". Cuando se seleccionan en el calendario quedan bien, pero luego al guardar quedan mal.
Intentamos poner de 14:00 a 19:00 todos los días. Hay algo que se está validando mal.
Lo real sería martes a domingos, pero no importa, pero también da inválido.
Igual se carga el texto "Desde el jueves 2 de marzo al domingo 23

[2017-03-31 18:54] mayteloyarte opened #115 "Wordpress - correcciones"
http://plandecirculacion.culturaenlinea.uy/
Las fechas estan en portugues
cambiar projeto por proyecto
Que comience en mayúsculas "Publicado por" "Proyecto"

![image](https://cloud.githubusercontent.com/assets/17646115/24565106/2b0924a6-162a-11e7-92f7-eb0c6f21a81b.png)

lo que esta raro es cuanod uno quiere seleccionar el tipo.
Porque cuando posicionas el cursos en la barra desplazadora los tipos

[2017-04-04 19:06] mayteloyarte opened #116 "Error imprimir certificado"
![image](https://cloud.githubusercontent.com/assets/17646115/24674113/b92b745e-1950-11e7-9251-5cbb33b349db.png)

[2017-04-07 15:42] mayteloyarte opened #117 "ipresión"
![image](https://cloud.githubusercontent.com/assets/17646115/24807695/9dc9c562-1b8f-11e7-918a-3ef9bb3cdfea.png)

[2017-04-16 23:55] mayteloyarte opened #118 "Logueo con cuenta facebook"
Primer sitio?
Además no funciona el logueo, la pagina vuelve a la inicial de logueo y no reacciona ante la asociacion con facebook.
![image](https://cloud.githubusercontent.com/assets/17646115/25075252/ac26f00e-22e6-11e7-944a-fa5d2f3a2815.png)

[2017-04-16 23:59] mayteloyarte opened #119 "No me deja rechazar notificacion"
Cuando rechazo la notificación da error porque el proyecto ya no existe, entonces no puedo hacer nada y la notificacion no desaparece.
![image](https://cloud.githubusercontent.com/assets/17646115/25075289/94737efe-22e7-11e7-940b-39adbed5c420.png)

![image](https://cloud.githubusercontent.com/assets/17646115/25075284/87feb12a-22e7-11e7-91f2-4f2d51c812db.png)

[2017-04-30 23:59] leogermani commented on #100
Holas,

Esá hecho. Hice un plugin: https://github.com/LibreCoopUruguay/ProjectCuradores

O plugin já está ativo em http://prueba.culturaenlinea.uy

== Necessito ajuda para testar e ver se está ok!!! ==

-- Como funciona: --

No projeto no qual quer adicionar jurados, crie um grupo de agens chamado "Curadores" (escrito exatamente assim, podemos mudar este nome depois).

Dentro do grupo "Curadores",

[2017-05-01 21:27] leogermani commented on #6
Já está

[2017-05-01 21:27] #6 closed, assigned to nobody

[2017-05-01 21:28] leogermani commented on #55
listo

[2017-05-01 21:28] #55 closed, assigned to leogermani, mayteloyarte

[2017-05-01 21:29] leogermani commented on #57
@donsalvatore estou fechando essa issue, se for o caso vamos abrir outra específica (e melhor explicada) sobre este outro problema que você relatou

[2017-05-01 21:29] #57 closed, assigned to donsalvatore, mayteloyarte

[2017-05-01 21:31] leogermani commented on #69
@kterva que opinas sobre a tradução de "Direccion" que eu descrevi alguns comentários acima?

[2017-05-01 21:50] leogermani commented on #88
Mayte, não é possível fazer isso neste momento.

É um custo muito alto para personalizar isso e ficar diferente da versão oficial em um momento que estamos passando por várias atualizações... Podemos fazer isso mais para o futuro, ok?

[2017-05-01 21:50] #88 closed, assigned to leogermani

[2017-05-01 21:50] leogermani commented on #90
solucionado

[2017-05-01 21:50] #90 closed, assigned to nobody

[2017-05-01 21:53] leogermani commented on #91
Listo, entra no ar no próximo release

[2017-05-01 21:53] #91 closed, assigned to nobody

[2017-05-01 21:54] leogermani commented on #93
Sim, esta é uma boa idéia que outras pessoas já demandaram também. Vou trabalhar nisso. Agora que os campos são ordenáveis isso faz mais sentido!

[2017-05-01 21:56] leogermani commented on #95
@kterva puedes hacer esto en la traduccion?

[2017-05-01 22:00] leogermani commented on #81
Bug confirmado.

Criei essa issue: hacklabr#1190

Vou trabalhar nisso.

[2017-05-01 22:00] leogermani commented on #85
Fiz um comentário nesta issue por engano. Estou apagando

[2017-05-01 22:10] leogermani commented on #85
@donsalvatore atualmente o controle só funciona com entidades publicadas, e não com rascunhos.

Modificar isto é um pouco complexo.

Assim como é um pouco complexo poder montar a hierarquia com rascunhos, porque é preciso cuidar para que não se publique um projeto filho antes de pai estar publicado... E podem haver outras implicações.

É algo que pode ser feito, mas demanda um esforço um pouco gra

[2017-05-01 22:12] leogermani commented on #99
Ok, vou trabalhar nisso

[2017-05-01 22:12] leogermani commented on #105
resolvido

[2017-05-01 22:12] #105 closed, assigned to nobody

[2017-05-01 22:15] leogermani commented on #108
listo, entra no ar no proximo release

[2017-05-01 22:18] leogermani commented on #112
Isto é quando faz login via alguma rede social?

[2017-05-01 23:46] leogermani commented on #113
Corrigido, entra no ar no proximo release

[2017-05-01 23:46] #113 closed, assigned to nobody

[2017-05-01 23:49] leogermani commented on #116
Estou trabalhando em várias coisas relacionadas a esta parte. Quando fizer uma atualização revisamos esta issue para ver se resolveu

[2017-05-01 23:49] leogermani commented on #117
@kterva resolvido?

[2017-05-01 23:50] leogermani commented on #118
@kterva esto de "primer sitio" no tiene que ver con la configuracion del App de facebook?

[2017-05-02 01:07] leogermani commented on #114
Eduardo Ricobaldi enviou a informação que faltava. Era um problema apenas no Firefox.

Está resolvido, entra no ar no próximo release, nos próximos dias.

[2017-05-02 01:07] #114 closed, assigned to leogermani

[2017-05-02 07:08] donsalvatore commented on #85
;)

Em 1 de maio de 2017 19:10, leogermani <notifications@github.com> escreveu:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-05-02 07:08] donsalvatore commented on #81
;)

2017-05-01 19:00 GMT-03:00 leogermani <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-05-02 14:24] kterva commented on #118
@leogermani hay que corregir en la url en el config.php "autenticacao" por "autenticacion"

[2017-05-02 14:33] kterva commented on #117
sí en https://github.com/LibreCoopUruguay/mapasculturais/commit/e9cc66df0d7d11f3a33fbadf5d6c44fff511de0d

[2017-05-02 20:29] #117 closed, assigned to nobody

[2017-05-02 20:35] kterva commented on #95
listo en https://github.com/LibreCoopUruguay/mapasculturais/commit/6a128d30f7867939c3c0f5c3fa00d759c41c210a

[2017-05-02 20:35] #95 closed, assigned to kterva

[2017-05-02 20:37] kterva commented on #69
@leogermani  creo que habría que eliminar "O segundo campo "Direccion" é chamado, originalmente, de "nome do logradouro", ou seja, o nome da rua ou da avenida..."

[2017-05-03 20:21] kterva commented on #115
https://github.com/LibreCoopUruguay/cultural/commit/1c6283843cfce13c81ce07a1dfe4cced3dc3a7ae

[2017-05-03 20:21] #115 closed, assigned to leogermani, kterva

[2017-05-09 15:39] #108 closed, assigned to nobody

[2017-05-09 15:52] kterva commented on #35
funciona bien. Se seleccionan mes y año y muestra en el calendario el día para seleccionar. Es el comportamiento estándar

[2017-05-09 15:52] #35 closed, assigned to nobody

[2017-05-09 15:54] kterva commented on #26
se debe hacer el paso a paso para la convocatoria específica, teniendo en cuenta las particularidades que determine cada reglamento.
En el manual está contemplada la forma genérica

[2017-05-09 15:54] #26 closed, assigned to kterva, mayteloyarte

[2017-05-09 15:54] #3 closed, assigned to nobody

[2017-05-09 16:43] donsalvatore commented on #26
ok!
pero el manual no contempla la forma generica pq no es un paso a paso :)

2017-05-09 12:54 GMT-03:00 leonardo <notifications@github.com>:

--
Miguel Gondim de Castro
http://about.me/migueldecastro
@serra_lheria
cel.: +55 11 97161 2502

[2017-05-09 18:47] mayteloyarte commented on #108
ya fue el release?

*Mayte Loyarte*

2017-05-09 12:39 GMT-03:00 leonardo <notifications@github.com>:

[2017-05-09 18:54] mayteloyarte opened #120 "wordpress txts en portugues"
cuando creen se arreglará esto?
![image](https://cloud.githubusercontent.com/assets/17646115/25867362/ba488882-34cf-11e7-9d11-d9bba452eda0.png)

[2017-05-09 19:11] kterva commented on #120
LibreCoopUruguay/cultural@1c62838

[2017-05-09 19:43] kterva commented on #120
listo

[2017-05-09 19:43] #120 closed, assigned to nobody

[2017-05-09 19:59] mayteloyarte opened #121 "Bug identificado por Pablo de fondos"
Según me relata el descargó l estructura del formulario y luego la importó en uno nuevo y no le cargó las descripciones de los cambios. y También me dice que
"me cambió la descripción del campo existente (por ejemplo, teatro) y me puso el de videojuegos importando los campos de videojuegos (cosa que sí quería)."

Trato de replicarlo y notifico

[2017-05-09 20:27] mayteloyarte commented on #112
si fb

[2017-05-09 21:15] mayteloyarte opened #122 "Txts en pgues test formulario"
capaz ya los tienen presentes pero por las dudas aviso.
seccion

![image](https://cloud.githubusercontent.com/assets/17646115/25873092/7303edea-34e3-11e7-8d94-d44c6326ee90.png)

[2017-05-09 21:30] mayteloyarte commented on #121
intento y replicarlo y no me sale lo mismo

[2017-05-09 22:03] mayteloyarte opened #123 "admitir url sin https"
esto ya lo he dicho, en proyectos es. nadie sabe q hay q poner https://
si alguien pone www.dddd.com tiene q ceptarlo. si no se puede quitar el control y q el campo quede abierto
![image](https://cloud.githubusercontent.com/assets/17646115/25874718/314889a4-34ea-11e7-95f9-1fabd6b7da8e.png)

[2017-05-09 22:05] kterva commented on #123
Ya hay una issue con esto, por favor no volver a abrir otra

[2017-05-09 22:05] #123 closed, assigned to nobody

[2017-05-09 22:07] mayteloyarte opened #124 "no me deja enviar inscripcion"
me pide que complete campos que ya completé
y en rojo pide campos que no estan
![image](https://cloud.githubusercontent.com/assets/17646115/25874817/ba74141e-34ea-11e7-841b-fcf3333fd058.png)

[2017-05-09 22:09] mayteloyarte commented on #100
pude crear el formulario cambiar orden etc
pero no puedo isncribirme xq me pide campos q no estan. cree issue con eso.
cuado se saltee eso sigo con el testeo
beso

*Mayte Loyarte*

2017-04-30 20:59 GMT-03:00 leogermani <notifications@github.com>:

[2017-05-10 15:41] kterva commented on #124
falta completar el Género en el perfil del agente que se inscribe;
que aparezca {{raza}} es un error @leogermani

[2017-05-10 16:56] kterva commented on #124
solucionado!!! aparecerá en próxima actualización

[2017-05-10 16:56] #124 closed, assigned to nobody

[2017-05-10 18:30] #122 closed, assigned to nobody

[2017-05-10 18:33] kterva commented on #100
solucionado en #124

[2017-05-12 15:35] leogermani commented on #100
@mayteloyarte você testou o acesso como curador??

[2017-05-12 23:09] mayteloyarte opened #125 "txt en portugues"
ya lo he pasado pero no encuentro la issue en q lo ponia
dice ás en vez de a las
![image](https://cloud.githubusercontent.com/assets/17646115/26019827/ee9b3ce8-374e-11e7-9cc0-9713826fd8cf.png)

[2017-05-12 23:12] mayteloyarte commented on #125
mas txts en portugues
![image](https://cloud.githubusercontent.com/assets/17646115/26019872/42c19358-374f-11e7-8d41-6ad60729886b.png)

[2017-05-12 23:13] mayteloyarte commented on #125
Área de Atuação
Arquivos

[2017-05-12 23:21] mayteloyarte commented on #100
no funciona, pasa lo mismo.
y aunque este logueado como jurado cuando hago click en el vinculo de la planilla me vuelve a pedir que me loguee, siendo que ya estoy logueda en ese navegador. me logueo y perdio la ruta.
tengo que ir a modificar hipervinculo, copiar el link y ahi pone bien la ruta pero da acceso denegado
![image](https://cloud.githubusercontent.com/assets/17646115/26020033/87b726a2-37

[2017-05-14 19:01] leogermani commented on #100
@mayteloyarte creio que você não testou corretamente. Entrei no projeto e não vi nenhum grupo indicando quem são os jurados.

Copio e colo novamente as instruções de como funciona:

-- Como funciona: --

No projeto no qual quer adicionar jurados, crie um grupo de agens chamado "Curadores" (escrito exatamente assim, podemos mudar este nome depois).

Dentro do grupo "Curadores", relacione os jurados

[2017-05-15 16:09] mayteloyarte commented on #100
el agente jurado pudo ver la inscripción, pero cuesta llegar a eso.
cuando hago click en el vinculo me pide que me logue (ya estoy logueada), lo hago y pierde la ruta.
Para poder acceder al proyecto tuve que ir a modificar hipervinculo y ahi copiar el link.
Entonces hay que solucionar eso, quizas lo mejor es que en la planilla aparezca el vinculo directamente y no un acceso directo al link. Y de u

[2017-05-15 18:34] leogermani commented on #100
@mayteloyarte eu não entendo que caminho você está fazendo para ter essa dificuldade. Você pode descrever passo a passo?

 Eu tentei de dois jeitos:

Primeira opção
 1. deslogado, tentei acessar: http://prueba.culturaenlinea.uy/inscripcion/2132611397/
 2. O site me redirecionou para login
 3. fiz login com o usuário "prueba" que você criou
 4. Abriu o formulário

 Segunda opção
 1. LOGADO, visitei

[2017-05-18 14:23] leogermani commented on #100
Relacionado com https://github.com/hacklabr/mapasculturais/issues/1204

Resolvido

[2017-05-18 14:23] #100 closed, assigned to leogermani, kterva, caminantedelossuenos

[2017-05-25 18:31] mayteloyarte opened #126 "Agregar tipo de campo"
Es solo comentario para tener en cuenta a futuro. No se necesita ya pero hace mas completa las posibilidades del formulario.
Agregar campo numérico, y que acepte solo numeros.
Esto por ejemplo cuando se quiere preguntar monto solicitado y que pongan un monto y nada mas.

[2017-05-25 18:44] mayteloyarte opened #127 "TXTs fecha en portugues en prueba.cultura"
![image](https://cloud.githubusercontent.com/assets/17646115/26465296/0a22cb40-4161-11e7-80f6-a2289870afbd.png)

[2017-05-30 18:46] mayteloyarte opened #128 "Control de mail"
Cuando la gente se loguea debe poner en minuscula el mail o que el sistema no diferencia entre minusculas y mayusculas.

[2017-06-09 19:11] mayteloyarte opened #129 "Txts en portugués - denuncia contacto"
![image](https://user-images.githubusercontent.com/17646115/26990773-3845e1a0-4d2e-11e7-994e-be1873699cb0.png)

[2017-06-09 19:15] mayteloyarte commented on #129
![image](https://user-images.githubusercontent.com/17646115/26990931-e2fe4362-4d2e-11e7-8606-8522886cd915.png)

[2017-06-09 19:16] mayteloyarte commented on #129
cuando pongo denuncia anonima pone ese cartel. xq?

[2017-06-09 19:18] mayteloyarte opened #130 "Txts con codigos internos"
![image](https://user-images.githubusercontent.com/17646115/26991052-3e82000c-4d2f-11e7-9827-a6a403549589.png)

[2017-06-14 20:25] #118 closed, assigned to nobody

[2017-06-14 21:12] kterva commented on #125
a52233d (https://github.com/LibreCoopUruguay/mapasculturais/commit/a52233d1fb3fc6ee1aac4cdeaef9c566b769f7a5): se agregaron funciones de traducción y se actualizó el archivo de idioma español by kterva

[2017-06-14 21:12] #125 closed, assigned to nobody

[2017-06-15 17:48] mayteloyarte opened #131 "Error al enviar emails CONTACTO/DENUNCIA"
lo de enviar los mails no anda bien, los manda al revés
ej,
Margarita denuncia/contacto a Mayte y le llega un mail a Mayte que dice "Hola Margarita"
Y si Mayte denuncia/contacto a Margarita no le llega nada de que la estan denunciando o queriendo contactarse con ella.

![image](https://user-images.githubusercontent.com/17646115/27194596-830ffa7c-51d9-11e7-941c-e231d0c3c657.png)

[2017-06-16 18:26] #130 closed, assigned to nobody

[2017-06-16 19:38] #128 closed, assigned to nobody

[2018-02-08 18:38] mayteloyarte opened #132 "PROYECTOS: desordena las preguntas en los formularios"

[2018-02-08 18:39] mayteloyarte commented on #132
No puedo replicarlo para descubrir cual es el patron comun.
Pero me ha pasado varias veces que armo un formulario y luego las preguntas aparecen desordenadas.
Me paso ayer con un formulario con 76 preguntas. Ya lo arreglé, pero el año pasado también me pasó con los de museos en la noche.

[2018-02-08 18:41] mayteloyarte opened #133 "TXTS EN PORTUGUES"
hay muuuchos textos en portugues todavía.
Projetos aparece muchas veces.

cuando dar enviar en una inscripción al final abajo dice la fecha de envio en portugues.

[2018-02-21 20:06] mayteloyarte opened #134 "FORMULARIO NO ACEPTA 0"
EN un proyecto de un registro de fotógrafos hay preguntas múltiples (0,1,2,3,4,5,6) q no aceptan 0 como respuesta. Cuando el usuario pone 0 el sistema marca en rojo y dice que la respuesta es obligatoria. Cambié 0 por "ninguna" pero igual, eso está mal. Tendria que aceptar el 0.

[2018-03-01 18:08] mayteloyarte opened #135 "TXTS en portugues"
si posiciono el cursos obre un sello aplicado dice NAO EXPIRA

[2018-03-01 18:17] mayteloyarte opened #136 "BORRAR"
En el inicio cada vez q dice agentes o espacios deice "de la CeL", no tienen ningun sentido.
Borrarlo o cambiarle el txt a Culturaenlinea NO CeL

[2018-03-06 18:47] mayteloyarte opened #137 ""mapas culturais""
Cuando uno manda el link ej. en whatsapp la imagen q aparece dice mapas culturais.
tiene que ser de cultura en linea

[2018-03-07 02:39] kterva commented on #137
se necesita una imagen de 1.200 píxeles de ancho y 630 píxeles de altura, en formato .png

[2018-03-07 19:29] mayteloyarte opened #138 "Visualización proyectos"
No es amigable ni funcional como se muestran los proyectos.
Cambiar criterio abecedario y ponerlo por ID, el mas nuevo primero. Si no parece que la pagina siempre esta igual porque el que empieza con A queda hasta la eternidad figurando primero.

Y sería ideal que se vieran no en lista si no tipo cuadraditos a los costados, como se visualizan los agentes en el wordpress.
Si esto se pudiese aplicar

[2018-03-07 19:31] mayteloyarte opened #139 "EN ISNCRIPTOS EN PROYECTOS"
Sacar la vista de los borradores, la gente se marea y no comprende que significa eso.
Ocultarlos como estaba antes, solo que se visualicen las inscripciones enviadas.

[2018-03-07 19:32] mayteloyarte opened #140 "URGENTE! Desordena preguntas"
No solo las desordena cuando lo estas armando (ya lo he reportado varias veces), sino que cuando exportas la planilla tmb.
Ver caso de proyecto Registro fotógrafos.
No mantiene le orden del formulario.

Es urgente ya que hay una convocatoria abierta con 76 preguntas en este momento, y cuando lo exportas aparece primero la 55, luego la 72 y así sigue desordenado.

[2018-03-07 19:34] mayteloyarte opened #141 "BORRAR Manual actual"
Posteriormente habrá una versión actualizada, la actual no corresponde con los criterios de la plataforma.

[2018-03-12 19:21] mayteloyarte commented on #137
ya les mande por mail la imagen

[2018-03-15 01:04] kterva commented on #141
se quitó el link a la espera de que se cambie el manual

[2018-03-15 01:04] #141 closed, assigned to nobody

[2018-03-15 01:25] kterva commented on #133
es igual a #131

[2018-03-15 01:29] kterva commented on #121
se cierra por no poder replicarse el error

[2018-03-15 01:29] #121 closed, assigned to nobody

[2018-03-15 01:30] #112 closed, assigned to nobody

[2018-03-15 01:56] kterva commented on #137
no toma la imagen share.png del tema

[2018-03-15 01:59] kterva commented on #133
ver campo "Buscar projetos", en el caso de eventos, agentes y espacios no pasa
![capturaprojetos](https://user-images.githubusercontent.com/6854552/37440385-39ec34d6-27db-11e8-8e85-f7462dfb9428.png)

[2018-03-15 18:24] mayteloyarte opened #142 "txts en portugues"
PROJETOS
![image](https://user-images.githubusercontent.com/17646115/37483188-8870124c-2864-11e8-9624-d6e65a8f49c1.png)

[2018-03-15 18:24] mayteloyarte commented on #142
SELLO NAO EXPIRA

[2018-03-15 18:26] mayteloyarte commented on #140
hICE LAS PREGUNTAS EN EL ORDEN QUE dice su nombre (uno dos tres cuatro cinco) y como ven estan en otro orden. lo q hice fue guardar entre de nuevo y las habia desordenado. tiene q mantener el orden que uno le da cuando lo esta haciendo, no lo que el sistema quiera despues.

![image](https://user-images.githubusercontent.com/17646115/37483650-1ef7a05e-2865-11e8-8ab4-1b6bff9b22b2.png)

[2018-03-15 18:30] mayteloyarte commented on #140
las hice con un numero adelante he hizo lo mismo. no mantiene el orden inicial que uno da.

[2018-03-16 01:26] kterva commented on #142
expiró...

[2018-03-16 01:26] #142 closed, assigned to nobody

[2018-03-16 02:17] kterva commented on #136
listo

[2018-03-16 02:17] #136 closed, assigned to nobody

[2018-03-16 02:17] kterva commented on #135
expiró

[2018-03-16 02:17] #135 closed, assigned to nobody

[2018-03-16 02:18] kterva commented on #133
ahora no hay muuuuchos, hay meeeenos

[2018-03-16 02:18] #133 closed, assigned to nobody

[2018-03-16 02:21] kterva commented on #131
verificar si sigue pasando

[2018-03-16 02:22] kterva commented on #132
no se pudo replicar

[2018-03-16 02:22] #132 closed, assigned to nobody

[2018-03-16 03:43] mayteloyarte commented on #132
si se puede replicar, issue 140 con capturas

[2018-03-16 03:47] kterva commented on #127
testear en prueba.culturaenlinea.uy y avisar

[2018-03-16 03:55] kterva commented on #129
verificar si no está solucionado

[2018-03-19 17:14] mayteloyarte opened #143 "suporte@"
Los mails dicen sUporte

[2018-03-19 17:35] mayteloyarte commented on #131
Cuando mandas CONTACTO no hace nada. a nadie le llega mail diciendo que alguien quiere contactarse o lo que sea.
el DENUNCIA pareciera ok

[2018-03-19 17:45] mayteloyarte commented on #127
ahora aparece otro texto
![image](https://user-images.githubusercontent.com/17646115/37612470-1494658a-2b84-11e8-8390-8aed50e5e2eb.png)

[2018-03-19 17:47] kterva commented on #127
¿entonces?

[2018-03-19 17:48] mayteloyarte commented on #129
igual
![image](https://user-images.githubusercontent.com/17646115/37612643-84f328ac-2b84-11e8-93e6-8f0f1d003a3e.png)

[2018-03-19 17:49] mayteloyarte commented on #127
sigue igual
![image](https://user-images.githubusercontent.com/17646115/37612729-c4e52776-2b84-11e8-8a11-238ee093a0f9.png)

[2018-03-19 19:43] mayteloyarte opened #144 "TXT Portugues en inscripciones"
cuando uno envía la inscripción
![image](https://user-images.githubusercontent.com/17646115/37618319-acc28eee-2b94-11e8-996a-6f86551f998f.png)

[2018-03-19 22:17] kterva commented on #144
hay que chequearlo en prueba, fue comentado en #127

[2018-03-20 01:11] kterva commented on #143
listo

[2018-03-20 01:11] #143 closed, assigned to nobody

[2018-03-20 01:14] kterva commented on #127
pronto, verificar

[2018-03-20 01:14] kterva commented on #144
pronto, verificar

[2018-03-20 01:14] #144 closed, assigned to nobody

[2018-03-20 18:39] mayteloyarte commented on #143
ahora no llega ningún mail a ninguno de los implicados.

[2018-03-20 18:47] mayteloyarte commented on #127
sigue en portugues

[2018-03-20 18:52] mayteloyarte commented on #144
verificado

[2018-03-20 21:47] leogermani commented on #140
Estamos tratando desta issue aqui: https://github.com/hacklabr/mapasculturais/issues/1341

Raro que nunca logramos reproduzir el problema de se pierder la orden...

pero sí vemos el problema de la ordenacion de la planilla con las inscripciones

Cuando solucionarmos, aviso aqui. pero depende que hagamos la actualizacion

[2018-03-21 03:52] kterva commented on #127
![imagen](https://user-images.githubusercontent.com/6854552/37693990-1e3cbe92-2ca2-11e8-976c-eca7806a3f2b.png)

[2018-03-21 04:17] kterva commented on #143
verificar nuevamente, en producción

[2018-03-21 17:25] mayteloyarte commented on #127
los meses siguen en portugués
la captura no se vincula con el issue reportado.

[2018-03-21 17:37] kterva commented on #127
pegar link, por favor, porque la url de las imágenes son las mismas

[2018-03-21 17:51] mayteloyarte commented on #143
solo llega ante denuncia y llega OK con soporte

no llega cuando uno pide contacto
sigue mismo error cuando uno quiere mandar anonimo

[2018-03-21 18:03] mayteloyarte commented on #127
http://test.culturaenlinea.uy/inscripcion/1661166278/

[2018-03-22 02:59] #129 closed, assigned to nobody

[2018-03-22 03:00] kterva commented on #127
listo

[2018-03-22 03:00] #127 closed, assigned to nobody

[2018-03-22 03:00] kterva commented on #137
probar

[2018-04-02 20:14] mayteloyarte opened #145 "Entidades certificadas"
Agregar botón de certificados en las entidades cuando uno busca.

[2018-04-17 15:58] mayteloyarte opened #146 "Cambio correo Agente 16"
El Agente 16 está asociado a un correo que no se usa más (el funcionario se fue)
Por favor cambiarlo al correo culturaenlinea@mec.gub.uy
ya que si hay notificaciones no teneos como acceder a ellas.

[2018-08-13 19:24] kterva commented on #146
solucionado

[2018-08-13 19:24] #146 closed, assigned to nobody

[2018-08-13 19:29] kterva commented on #140
resuelta

[2018-08-13 19:29] #140 closed, assigned to nobody

[2018-08-13 19:33] kterva commented on #139
no se realizó dada la utilidad de trabajar con borradores en nueva versión con oportunidades

[2018-08-13 19:33] #139 closed, assigned to nobody

[2018-08-13 19:34] kterva commented on #138
se mejoraron criterios de búsqueda, agregando más filtros y posibilidad de filtrar sólo por abiertos

[2018-08-13 19:34] #138 closed, assigned to nobody

[2018-08-13 19:34] #137 closed, assigned to nobody

[2018-08-13 19:35] kterva commented on #134
no se pudo reproducir el error

[2018-08-13 19:35] #134 closed, assigned to nobody

[2018-08-13 19:35] kterva commented on #131
solucionado

[2018-08-13 19:35] #131 closed, assigned to nobody

[2018-08-13 19:36] #126 closed, assigned to nobody

[2018-08-13 19:36] kterva commented on #119
solucionado

[2018-08-13 19:36] #119 closed, assigned to nobody

[2018-08-13 19:36] kterva commented on #116
solucionado

[2018-08-13 19:36] #116 closed, assigned to leogermani

[2018-08-13 19:41] kterva commented on #106
solucionado

[2018-08-13 19:41] #106 closed, assigned to nobody

[2018-08-13 19:43] #99 closed, assigned to leogermani

[2018-08-13 19:43] #98 closed, assigned to nobody

[2018-08-13 19:43] #93 closed, assigned to leogermani

[2018-08-13 19:44] #85 closed, assigned to leogermani

[2018-08-13 19:44] #81 closed, assigned to leogermani

[2018-08-13 19:48] #69 closed, assigned to leogermani, kterva